USE TMD
GO
/********************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CLIENTE_SEL_BYRUC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CLIENTE_SEL_BYRUC]
GO
CREATE PROCEDURE CC.USP_CLIENTE_SEL_BYRUC
@RUC VARCHAR(11)
AS
SELECT [CODIGO_CLIENTE]
      ,[RUC]
      ,[RAZON_SOCIAL]
      ,[TIPO_CLIENTE]
      ,[CONTACTO]
  FROM [TMD].[CR].[CLIENTE]
  WHERE @RUC=[RUC]
 GO
/**********************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_MONEDA_SEL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_MONEDA_SEL]
GO
CREATE PROCEDURE CC.USP_MONEDA_SEL
AS
	SELECT [CODIGO_MONEDA] ,[NOMBRE] FROM [TMD].[CC].[MONEDA]
GO
/************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_SERVICIO_SEL_DET]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_SERVICIO_SEL_DET]
GO
CREATE PROCEDURE CC.USP_SERVICIO_SEL_DET
AS
SELECT [CODIGO_SERVICIO]
      ,S.[DESCRIPCION]
      ,S.[CODIGO_LINEA_SERVICIO]
	  ,L.[DESCRIPCION]
  FROM [TMD].[CC].[SERVICIO] S
		INNER JOIN [TMD].[CC].[LINEA_SERVICIO] L
		ON S.[CODIGO_LINEA_SERVICIO]=L.[CODIGO_LINEA_SERVICIO]
GO
/****************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_TIPO_CLAUSULA_SEL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_TIPO_CLAUSULA_SEL]
GO
CREATE PROCEDURE CC.USP_TIPO_CLAUSULA_SEL
AS
SELECT [CODIGO_TIPO_CLAUSULA],[NOMBRE] FROM [TMD].[CC].[TIPO_CLAUSULA]
GO
/****************************************************************************/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_ROL_SEL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_ROL_SEL]
GO
CREATE PROCEDURE CC.USP_ROL_SEL
AS
SELECT [CODIGO_ROL]
      ,[DESCRIPCION]
  FROM [TMD].[GEN].[ROL]
GO
/******************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_ENTREGABLE_SEL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_ENTREGABLE_SEL]
GO
CREATE PROCEDURE CC.USP_ENTREGABLE_SEL
AS
SELECT [CODIGO_ENTREGABLE]
      ,[DESCRIPCION]
  FROM [TMD].[CC].[ENTREGABLE]
GO
/*****************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_INDICADOR_SEL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_INDICADOR_SEL]
GO
CREATE PROCEDURE CC.USP_INDICADOR_SEL
AS
SELECT [CODIGO_INDICADOR]
      ,[DESCRIPCION]
      ,[TIPO_INDICADOR]
  FROM [TMD].[CC].[INDICADOR]
GO
/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CONTRATO_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CONTRATO_INS]
GO
CREATE PROCEDURE CC.USP_CONTRATO_INS
@CODIGO_CONTRATO INT OUTPUT,
@CODIGO_CLIENTE INT,
@NUMERO_BUENA_PRO varchar(15),
@NUMERO_CARTA_FIANZA varchar(15),
@FECHA_INICIO datetime,
@FECHA_FIN datetime,
@CODIGO_MONEDA char(3),
@MONTO money,
@DESCRIPCION varchar(500),
@CODIGO_SERVICIO INT
AS
DECLARE @NUMERO_CONTRATO CHAR(10)
SELECT @NUMERO_CONTRATO=ISNULL(MAX(NUMERO_CONTRATO),1)+1 FROM [TMD].[CC].[CONTRATO]
INSERT INTO [TMD].[CC].[CONTRATO]
           ([NUMERO_CONTRATO]
           ,[CODIGO_CLIENTE]
           ,[NUMERO_BUENA_PRO]
           ,[NUMERO_CARTA_FIANZA]
           ,[FECHA_INICIO]
           ,[FECHA_FIN]
           ,[CODIGO_MONEDA]
           ,[MONTO]
           ,[DESCRIPCION]
           ,[CODIGO_SERVICIO]
           ,[ESTADO]
           ,[FECHA_REGISTRO])
     VALUES
           (@NUMERO_CONTRATO
           ,@CODIGO_CLIENTE
           ,@NUMERO_BUENA_PRO
           ,@NUMERO_CARTA_FIANZA
           ,@FECHA_INICIO
           ,@FECHA_FIN
           ,@CODIGO_MONEDA
           ,@MONTO
           ,@DESCRIPCION
           ,@CODIGO_SERVICIO
           ,'E'
           ,GETDATE())
           
SELECT @CODIGO_CONTRATO=@@IDENTITY
GO
/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CLAUSULA_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CLAUSULA_INS]
GO
CREATE PROCEDURE CC.USP_CLAUSULA_INS
@CODIGO_CONTRATO int,
@DESCRIPCIÓN varchar(500),
@SUJETO_PENALIDAD BIT,
@TIPO_SANCION char(1) = NULL,
@SANCION decimal(10,2) = NULL,
@CODIGO_TIPO_CLAUSULA int
AS
DECLARE @NUMERO_CLAUSULA smallint
SELECT @NUMERO_CLAUSULA=ISNULL(MAX(NUMERO_CLAUSULA),0)+1 FROM [TMD].[CC].[CLAUSULA]
	WHERE [CODIGO_CONTRATO]=@CODIGO_CONTRATO
	
INSERT INTO [TMD].[CC].[CLAUSULA]
           ([CODIGO_CONTRATO]
           ,[NUMERO_CLAUSULA]
           ,[DESCRIPCIÓN]
           ,[SUJETO_PENALIDAD]
           ,[TIPO_SANCION]
           ,[SANCION]
           ,[CODIGO_TIPO_CLAUSULA]
           ,ESTADO)
     VALUES
           (@CODIGO_CONTRATO
           ,@NUMERO_CLAUSULA
           ,@DESCRIPCIÓN
           ,@SUJETO_PENALIDAD
           ,@TIPO_SANCION
           ,@SANCION
           ,@CODIGO_TIPO_CLAUSULA
           ,'A')
GO
/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CONTRATO_ROL_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CONTRATO_ROL_INS]
GO
CREATE PROCEDURE CC.USP_CONTRATO_ROL_INS
@CODIGO_CONTRATO INT,
@CODIGO_ROL INT
AS
INSERT INTO [TMD].[CC].[CONTRATO_ROL]
           ([CODIGO_CONTRATO]
           ,[CODIGO_ROL])
     VALUES
           (@CODIGO_CONTRATO
           ,@CODIGO_ROL)
GO
/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CONTRATO_ENTREGABLE_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CONTRATO_ENTREGABLE_INS]
GO
CREATE PROCEDURE CC.USP_CONTRATO_ENTREGABLE_INS
@CODIGO_CONTRATO INT,
@CODIGO_ENTREGABLE INT,
@CODIGO_ROL INT,
@FECHA_PACTADA DATETIME
AS
INSERT INTO [TMD].[CC].[CONTRATO_ENTREGABLE]
           ([CODIGO_CONTRATO]
           ,[CODIGO_ENTREGABLE]
           ,[CODIGO_ROL]
           ,[FECHA_PACTADA]
           ,ESTADO)
     VALUES
           (@CODIGO_CONTRATO
           ,@CODIGO_ENTREGABLE
           ,@CODIGO_ROL
           ,@FECHA_PACTADA
           ,'P')
GO
/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CONTRATO_INDICADOR_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CONTRATO_INDICADOR_INS]
GO
CREATE PROCEDURE CC.USP_CONTRATO_INDICADOR_INS
@CODIGO_CONTRATO INT,
@CODIGO_INDICADOR INT,
@VALOR_OBJETIVO varchar(20),
@FRECUENCIA char(1)
AS
INSERT INTO [TMD].[CC].[CONTRATO_INDICADOR]
           ([CODIGO_CONTRATO]
           ,[CODIGO_INDICADOR]
           ,[VALOR_OBJETIVO]
           ,[FRECUENCIA]
           ,ESTADO)
     VALUES
           (@CODIGO_CONTRATO
           ,@CODIGO_INDICADOR
           ,@VALOR_OBJETIVO
           ,@FRECUENCIA
           ,'P')
GO
/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_ADDENDA_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_ADDENDA_INS]
GO
CREATE PROCEDURE [CC].[USP_ADDENDA_INS]
@CodigoContrato int,
@Descripcion varchar(500),
@CodigoAddenda int out,
@NumeroAddenda char(10) out
AS
	SET @NumeroAddenda=(SELECT MAX(NUMERO_ADDENDA) FROM CC.ADDENDA WHERE CODIGO_CONTRATO=@CodigoContrato)
	
	IF(@NumeroAddenda IS NULL)
		SET @NumeroAddenda='1'
	ELSE
		SET @NumeroAddenda=convert(char(10),CONVERT(int,@NumeroAddenda)+1)
	
	INSERT INTO cc.ADDENDA(CODIGO_CONTRATO, NUMERO_ADDENDA, DESCRIPCION, FECHA_REGISTRO, ESTADO)
	VALUES(@CodigoContrato, @NumeroAddenda, @Descripcion, GETDATE(), 'P')

	set @CodigoAddenda=@@IDENTITY
	SET @NumeroAddenda=@NumeroAddenda
GO
/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP__CLAUSULA_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP__CLAUSULA_INS]
GO
CREATE PROCEDURE [CC].[USP__CLAUSULA_INS]
@CodigoContrato int,
@CodigoAddenda int,
@CodigoTipoClausula int,
@NumeroClausula smallint,
@Descripcion varchar(500),
@SujetoPenalidad bit,
@TipoSancion char(1),
@Sancion decimal(10,2),
@Estado char(1)
AS
	IF(@SujetoPenalidad=0)
	BEGIN
		SET @TipoSancion = NULL 
		SET @Sancion = NULL
	END
	
	INSERT INTO CC.CLAUSULA (CODIGO_CONTRATO, CODIGO_ADDENDA, CODIGO_TIPO_CLAUSULA, NUMERO_CLAUSULA,  
							DESCRIPCIÓN, SUJETO_PENALIDAD, TIPO_SANCION, SANCION, ESTADO)
	
	VALUES(@CodigoContrato, @CodigoAddenda, @CodigoTipoClausula, @NumeroClausula, @Descripcion,
			@SujetoPenalidad, @TipoSancion, @Sancion, @Estado)
GO
/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_DATOS_X_NRO_CONTRATO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_DATOS_X_NRO_CONTRATO]
GO
CREATE PROCEDURE [CC].[USP_DATOS_X_NRO_CONTRATO]
@NumeroContrato char(10)
AS
	SELECT CN.CODIGO_CONTRATO, CL.RAZON_SOCIAL, CN.ESTADO, CN.DESCRIPCION , COUNT(ad.CODIGO_ADDENDA) AS NroAddendasProceso
	FROM CC.CONTRATO CN INNER JOIN CR.CLIENTE CL ON CN.CODIGO_CLIENTE=CL.CODIGO_CLIENTE 
		LEFT JOIN CC.ADDENDA AD ON (CN.CODIGO_CONTRATO=AD.CODIGO_CONTRATO AND AD.ESTADO='P')
	WHERE CN.NUMERO_CONTRATO=@NumeroContrato
	GROUP BY CN.CODIGO_CONTRATO, CL.RAZON_SOCIAL, CN.ESTADO, CN.DESCRIPCION
GO
/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_NROCLAUSULAS_X_CODIGO_CONTRATO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_NROCLAUSULAS_X_CODIGO_CONTRATO]
GO
CREATE PROCEDURE [CC].[USP_NROCLAUSULAS_X_CODIGO_CONTRATO]
@CodigoContrato int
AS
	SELECT CODIGO_CLAUSULA, NUMERO_CLAUSULA 
	FROM CC.CLAUSULA 
	WHERE CODIGO_CONTRATO = @CodigoContrato AND ESTADO='A'
	ORDER BY NUMERO_CLAUSULA
GO
/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_DATOS_X_CODIGO_CLAUSULA]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_DATOS_X_CODIGO_CLAUSULA]
GO
CREATE PROCEDURE [CC].[USP_DATOS_X_CODIGO_CLAUSULA]
@CodigoClausula int
AS
	SELECT CODIGO_TIPO_CLAUSULA, DESCRIPCIÓN, SUJETO_PENALIDAD, TIPO_SANCION, SANCION 
	FROM CC.CLAUSULA 
	WHERE CODIGO_CLAUSULA = @CodigoClausula AND ESTADO='A'
	ORDER BY NUMERO_CLAUSULA
GO
/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CLIENTE_LISTA]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CLIENTE_LISTA]
GO
CREATE PROCEDURE [CC].[USP_CLIENTE_LISTA]
@RazonSocial varchar(100),
@Ruc Varchar(11)
AS
	SELECT isnull(A.CODIGO_CLIENTE,0) as Id,isnull(A.TIPO_CLIENTE,' ') as TipoCliente,isnull(A.RAZON_SOCIAL,' ') as RAZON_SOCIAL ,
			A.RUC,isnull(A.DIRECCION,' ') as DIRECCION,isnull(A.TELEFONO,' ') as TELEFONO,isnull(A.CORREO,' ') as CORREO,
			isnull(A.FAX,' ') as FAX,isnull(A.CONTACTO,' ') as CONTACTO,A.ESTADO
	FROM [TMD].[CR].[CLIENTE] A 
	WHERE A.RUC LIKE @Ruc+'%' AND A.RAZON_SOCIAL LIKE @RazonSocial+'%'
GO

/***********************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_OVENTA_CLIENTE_INS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_OVENTA_CLIENTE_INS]
GO
CREATE PROCEDURE [CC].[USP_OVENTA_CLIENTE_INS]
@RazonSocial varchar(100),
@Ruc char(11),
@TipoCliente char(1),
@Direccion varchar(200),
@Telefono varchar(20),
@Correo varchar(50),
@Fax varchar(15),
@Contacto varchar(80),
@Estado bit
As
	INSERT INTO CR.CLIENTE(RAZON_SOCIAL,RUC,TIPO_CLIENTE,DIRECCION,TELEFONO,CORREO,FAX,CONTACTO,ESTADO,FECHA_INGRESO,CODIGO_SEGMENTACION)
	VALUES(@RazonSocial,@Ruc,@TipoCliente,@Direccion,@Telefono,@Correo,@Fax,@Contacto,@Estado,GETDATE(),null)

update CR.OVENTA set  ESTADO_OFERTA='C'
where RUC=@Ruc
GO
/*****************************************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_OVENTA_LISTA]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_OVENTA_LISTA]
GO
CREATE PROCEDURE [CC].[USP_OVENTA_LISTA]
@RazonSocial varchar(100),
@Ruc Varchar(11)
AS
	SELECT RUC,RAZON_SOCIAL,RUBRO,TIPO,NOMBRE as CONTACTO,TELEFONO,EMAIL AS CORREO,CARGO,DIRECCION
  FROM TMD.CR.OVENTA A
  WHERE UPPER(A.RAZON_SOCIAL)LIKE @RazonSocial+'%' AND A.RUC LIKE @Ruc+'%' AND 
		UPPER(ESTADO_OFERTA)!='C' AND A.TIPO='P'
GO
/***************************************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CLIENTE_UPD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CLIENTE_UPD]
GO
CREATE PROCEDURE [CC].[USP_CLIENTE_UPD]
@Id int,
@RazonSocial varchar(100),
@Ruc char(11),
@TipoCliente char(1),
@Direccion varchar(200),
@Telefono varchar(20),
@Correo varchar(50),
@Fax varchar(15),
@Contacto varchar(80),
@Estado bit
As
	update CR.CLIENTE
	set 
	RAZON_SOCIAL=@RazonSocial,
	TIPO_CLIENTE=@TipoCliente,
	DIRECCION=@Direccion,
	TELEFONO=@Telefono,
	CORREO=@Correo,
	FAX=@Fax,
	CONTACTO=@Contacto,
	ESTADO=@Estado
	where RUC=@Ruc and CODIGO_CLIENTE=@id
GO
/**************************************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CLIENTE_SEL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CLIENTE_SEL]
GO
CREATE PROCEDURE [CC].[USP_CLIENTE_SEL]
AS
SELECT [CODIGO_CLIENTE]
      ,[RUC]
      ,[RAZON_SOCIAL]
      ,[TIPO_CLIENTE]
      ,[CONTACTO]
  FROM [TMD].[CR].[CLIENTE]
  WHERE [ESTADO]=1
ORDER BY [RAZON_SOCIAL] 
GO
/********************************************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CONTRATO_SEL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CONTRATO_SEL]
GO
CREATE PROCEDURE [CC].[USP_CONTRATO_SEL]
@PARAMETRO INT,
@CLIENTE INT,
@LINEASERVICIO INT,
@FECHAINICIO DATETIME,
@FECHAFIN DATETIME
AS
BEGIN
	IF @PARAMETRO=1
	BEGIN
		IF @CLIENTE=0 AND @LINEASERVICIO=0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE WHERE A.ESTADO='F'
		END
		ELSE IF @CLIENTE=0 AND @LINEASERVICIO<>0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN 
			FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE 
			INNER JOIN CC.SERVICIO C ON A.CODIGO_SERVICIO=C.CODIGO_SERVICIO 
			WHERE A.ESTADO='F' AND C.CODIGO_LINEA_SERVICIO=@LINEASERVICIO
		END
		ELSE IF @CLIENTE<>0 AND @LINEASERVICIO=0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE WHERE A.ESTADO='F' AND A.CODIGO_CLIENTE=@CLIENTE
		END
		ELSE
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN 
			FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE 
			INNER JOIN CC.SERVICIO C ON A.CODIGO_SERVICIO=C.CODIGO_SERVICIO 
			WHERE A.ESTADO='F' AND A.CODIGO_CLIENTE=@CLIENTE AND C.CODIGO_LINEA_SERVICIO=@LINEASERVICIO
		END
	END
	ELSE IF @PARAMETRO=2
	BEGIN
		IF @CLIENTE=0 AND @LINEASERVICIO=0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE
			WHERE A.ESTADO='F' AND A.FECHA_FIN < @FECHAINICIO
		END
		ELSE IF @CLIENTE=0 AND @LINEASERVICIO<>0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN 
			FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE 
			INNER JOIN CC.SERVICIO C ON A.CODIGO_SERVICIO=C.CODIGO_SERVICIO 
			WHERE A.ESTADO='F' AND A.FECHA_FIN < @FECHAINICIO AND C.CODIGO_LINEA_SERVICIO=@LINEASERVICIO
		END
		ELSE IF @CLIENTE<>0 AND @LINEASERVICIO=0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE 
			WHERE A.ESTADO='F' AND A.FECHA_FIN < @FECHAINICIO AND A.CODIGO_CLIENTE=@CLIENTE
		END
		ELSE
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN 
			FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE 
			INNER JOIN CC.SERVICIO C ON A.CODIGO_SERVICIO=C.CODIGO_SERVICIO 
			WHERE A.ESTADO='F' AND A.FECHA_FIN < @FECHAINICIO AND A.CODIGO_CLIENTE=@CLIENTE AND C.CODIGO_LINEA_SERVICIO=@LINEASERVICIO
		END
	END
	ELSE IF @PARAMETRO=3 OR @PARAMETRO=4
	BEGIN
		IF @CLIENTE=0 AND @LINEASERVICIO=0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE
			WHERE A.ESTADO='F' AND A.FECHA_FIN BETWEEN @FECHAINICIO AND @FECHAFIN
		END
		ELSE IF @CLIENTE=0 AND @LINEASERVICIO<>0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN 
			FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE 
			INNER JOIN CC.SERVICIO C ON A.CODIGO_SERVICIO=C.CODIGO_SERVICIO 
			WHERE A.ESTADO='F' AND C.CODIGO_LINEA_SERVICIO=@LINEASERVICIO
			AND A.FECHA_FIN BETWEEN @FECHAINICIO AND @FECHAFIN
		END
		ELSE IF @CLIENTE<>0 AND @LINEASERVICIO=0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE 
			WHERE A.ESTADO='F' AND A.CODIGO_CLIENTE=@CLIENTE
			AND A.FECHA_FIN BETWEEN @FECHAINICIO AND @FECHAFIN
		END
		ELSE
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN 
			FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE 
			INNER JOIN CC.SERVICIO C ON A.CODIGO_SERVICIO=C.CODIGO_SERVICIO 
			WHERE A.ESTADO='F' AND A.CODIGO_CLIENTE=@CLIENTE AND C.CODIGO_LINEA_SERVICIO=@LINEASERVICIO
			AND A.FECHA_FIN BETWEEN @FECHAINICIO AND @FECHAFIN
		END
	END	
	ELSE IF @PARAMETRO=5
	BEGIN
		IF @CLIENTE=0 AND @LINEASERVICIO=0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE
			WHERE A.ESTADO='F' AND A.FECHA_FIN > @FECHAINICIO
		END
		ELSE IF @CLIENTE=0 AND @LINEASERVICIO<>0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN 
			FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE 
			INNER JOIN CC.SERVICIO C ON A.CODIGO_SERVICIO=C.CODIGO_SERVICIO 
			WHERE A.ESTADO='F' AND C.CODIGO_LINEA_SERVICIO=@LINEASERVICIO
			 AND A.FECHA_FIN > @FECHAINICIO
		END
		ELSE IF @CLIENTE<>0 AND @LINEASERVICIO=0
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE 
			WHERE A.ESTADO='F' AND A.CODIGO_CLIENTE=@CLIENTE
			 AND A.FECHA_FIN > @FECHAINICIO
		END
		ELSE
		BEGIN
			SELECT A.NUMERO_CONTRATO,B.RAZON_SOCIAL,A.FECHA_INICIO,A.FECHA_FIN 
			FROM [CC].[CONTRATO] A
			INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE 
			INNER JOIN CC.SERVICIO C ON A.CODIGO_SERVICIO=C.CODIGO_SERVICIO 
			WHERE A.ESTADO='F' AND A.CODIGO_CLIENTE=@CLIENTE AND C.CODIGO_LINEA_SERVICIO=@LINEASERVICIO
			 AND A.FECHA_FIN > @FECHAINICIO
		END
	END	
END
GO
/*******************************************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_LINEA_SERVICIO_SEL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_LINEA_SERVICIO_SEL]
GO
CREATE PROCEDURE [CC].[USP_LINEA_SERVICIO_SEL]
AS
SELECT [CODIGO_LINEA_SERVICIO]
      ,[DESCRIPCION]
  FROM [TMD].[CC].[LINEA_SERVICIO]
ORDER BY [DESCRIPCION]
GO
/*******************************************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CONTRATO_CONSULTA]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CONTRATO_CONSULTA]
GO
CREATE PROCEDURE [CC].[USP_CONTRATO_CONSULTA]
@CONTRATO VARCHAR(10)
AS
	SELECT CON.CODIGO_CONTRATO, CLI.RAZON_SOCIAL, CLI.RUC , CON.ESTADO, CON.MONTO
	FROM CC.CONTRATO CON LEFT JOIN CR.CLIENTE CLI 
			ON CON.CODIGO_CLIENTE = CLI.CODIGO_CLIENTE
	WHERE @CONTRATO = CON.NUMERO_CONTRATO
GO
/*******************************************************************************************************/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_CLAUSULA_POR_PENALIDAD_CONSULTA]') AND type in (N'P', N'PC'))
DROP PROCEDURE [CC].[USP_CLAUSULA_POR_PENALIDAD_CONSULTA]
GO
CREATE PROCEDURE [CC].[USP_CLAUSULA_POR_PENALIDAD_CONSULTA]
	@CODIGO_CONTRATO INT
AS
	SELECT [CODIGO_CLAUSULA], [DESCRIPCIÓN]
	FROM [TMD].[CC].[CLAUSULA]
	WHERE [SUJETO_PENALIDAD] = 1 AND ESTADO='A'
	AND [CODIGO_CONTRATO] = @CODIGO_CONTRATO
GO



/****** Object:  StoredProcedure [CC].[USP_INCUMPLIMIENTO_INSERTAR]    Script Date: 01/23/2013 22:08:39 ******/
IF  EXISTS (SELECT 0 FROM sys.objects WHERE object_id = OBJECT_ID(N'[CC].[USP_INCUMPLIMIENTO_INSERTAR]') AND type in (N'P', N'PC'))
	DROP PROCEDURE [CC].[USP_INCUMPLIMIENTO_INSERTAR]
GO

CREATE PROCEDURE [CC].[USP_INCUMPLIMIENTO_INSERTAR]
	@CODIGO_INCUMPLIMIENTO INT OUTPUT,
	@CODIGO_CONTRATO INT,	
	@DESCRIPCION varchar(200),
	@FECHA datetime,
	@CODIGO_CLAUSULA INT,	
	@MONTO money,
	@MOTIVO_CONCILIACION varchar(100)
AS
	INSERT INTO [TMD].[CC].[INCUMPLIMIENTO] ([CODIGO_CONTRATO],[DESCRIPCION],[FECHA],[CODIGO_CLAUSULA],[MONTO],[MOTIVO_CONCILIACION])
    VALUES  (@CODIGO_CONTRATO,@DESCRIPCION,@FECHA,@CODIGO_CLAUSULA,@MONTO,@MOTIVO_CONCILIACION)
           
SELECT @CODIGO_INCUMPLIMIENTO=@@IDENTITY

GO

/*******************************************************************************************************/
/*******************************************************************************************************/
/*******************************************************************************************************/




/*ACTUALIZAR ESTADO DE CONTRATO/ADDENDA*************************/




CREATE PROCEDURE [CC].[USP_SERVICIO_LINEA]
AS
 SELECT S.CODIGO_SERVICIO, S.DESCRIPCION, LS.CODIGO_LINEA_SERVICIO, LS.DESCRIPCION AS DESCRIPCION_LINEA_SERVICIO 
  FROM CC.SERVICIO S INNER JOIN CC.LINEA_SERVICIO LS ON ( S.CODIGO_LINEA_SERVICIO = LS.CODIGO_LINEA_SERVICIO ) 

GO


CREATE PROCEDURE [CC].[USP_ADDENDA_ALL]
AS
  SELECT CODIGO_ADDENDA, CODIGO_ADDENDA, DESCRIPCION, FECHA_REGISTRO, ESTADO, CODIGO_CONTRATO
  FROM CC.ADDENDA
GO


CREATE PROCEDURE [CC].[USP_ADDENDA_X_CONTRATO_ADDENDA_SERVICIO]
@NumeroContrato char(10),
@NumeroAddenda char(10),
@CodigoServicio int
AS
	Declare @CodigoContrato int
	
	IF(@CodigoServicio<>0)
		SELECT A.CODIGO_ADDENDA, A.NUMERO_ADDENDA , A.DESCRIPCION, A.FECHA_REGISTRO, A.ESTADO, A.CODIGO_CONTRATO
		FROM CC.ADDENDA A INNER JOIN CC.CONTRATO  C ON ( A.CODIGO_CONTRATO = C.CODIGO_CONTRATO )
		WHERE CODIGO_SERVICIO=@CodigoServicio AND(NUMERO_CONTRATO=@NumeroContrato OR RTRIM(@NumeroContrato)='')
	ELSE 
	BEGIN
		IF(RTRIM(@NumeroContrato)<>'') SET @CodigoContrato=(SELECT CODIGO_CONTRATO FROM CC.CONTRATO WHERE NUMERO_CONTRATO=@NumeroContrato)
		SELECT CODIGO_ADDENDA, NUMERO_ADDENDA, DESCRIPCION, FECHA_REGISTRO, ESTADO, CODIGO_CONTRATO
		FROM CC.ADDENDA
		WHERE CODIGO_CONTRATO=@CodigoContrato OR @CodigoContrato IS NULL
	END
GO

CREATE PROCEDURE [CC].[USP_ADDENDA_X_CODIGO]
@CodigoAddenda int
AS
		SELECT CODIGO_ADDENDA, NUMERO_ADDENDA, DESCRIPCION, FECHA_REGISTRO, ESTADO, CODIGO_CONTRATO
		FROM CC.ADDENDA A 
		WHERE CODIGO_ADDENDA=@CodigoAddenda	
GO

CREATE PROCEDURE [CC].[USP_ADDENDA_UPD_ESTADO]
@CodigoAddenda int,
@Estado char(1)
AS
	IF(@Estado='F')
	BEGIN
		SELECT * INTO #CLAUSULA_ADDENDA FROM CC.CLAUSULA WHERE CODIGO_ADDENDA=@CodigoAddenda AND ESTADO<>'P'
		
		UPDATE CC.CLAUSULA  SET CC.CLAUSULA.ESTADO=C.ESTADO
		FROM #CLAUSULA_ADDENDA C
		WHERE CC.CLAUSULA.NUMERO_CLAUSULA=C.NUMERO_CLAUSULA AND 
			  CC.CLAUSULA.CODIGO_CONTRATO=C.CODIGO_CONTRATO AND
			  CC.CLAUSULA.ESTADO='A'
			
		UPDATE CC.CLAUSULA SET ESTADO='A' WHERE CODIGO_ADDENDA=@CodigoAddenda AND ESTADO='P'
		UPDATE CC.CLAUSULA SET ESTADO='A' WHERE CODIGO_ADDENDA=@CodigoAddenda AND ESTADO='R'
		UPDATE CC.CLAUSULA SET ESTADO='N' WHERE CODIGO_ADDENDA=@CodigoAddenda AND ESTADO='E'
	END
	UPDATE CC.ADDENDA SET ESTADO=@Estado WHERE CODIGO_ADDENDA=@CodigoAddenda
	
GO


CREATE PROCEDURE [CC].[USP_CONTRATO_ALL]
AS
	SELECT C.*,CLI.RAZON_SOCIAL, CLI.RUC, CLI.TIPO_CLIENTE, CLI.DIRECCION, CLI.TELEFONO, CLI.CORREO, CLI.FAX, 
		CLI.CONTACTO, CLI.ESTADO, CLI.FECHA_INGRESO, 
		SERV.DESCRIPCION AS DESCRIPCION_SERVICIO, MON.NOMBRE AS NOMBRE_MONEDA 
	FROM CC.CONTRATO C INNER JOIN CR.CLIENTE CLI ON ( C.CODIGO_CLIENTE = CLI.CODIGO_CLIENTE ) 
		INNER JOIN CC.SERVICIO SERV ON ( C.CODIGO_SERVICIO = SERV.CODIGO_SERVICIO ) 
		INNER JOIN CC.MONEDA MON ON ( C.CODIGO_MONEDA = MON.CODIGO_MONEDA)
GO


CREATE PROCEDURE [CC].[USP_CONTRATO_X_NUMERO_DESCRIPCION_SERVICIO]
@NumeroContrato char(10),
@Descripcion varchar(500),
@CodigoServicio int
AS 
   SELECT C.*, CLI.RAZON_SOCIAL, CLI.RUC, CLI.TIPO_CLIENTE, CLI.DIRECCION, CLI.TELEFONO, CLI.CORREO, CLI.FAX, 
		   CLI.CONTACTO, CLI.ESTADO, CLI.FECHA_INGRESO, 
		   SERV.DESCRIPCION AS DESCRIPCION_SERVICIO, MON.NOMBRE AS NOMBRE_MONEDA 
   FROM CC.CONTRATO C INNER JOIN CR.CLIENTE CLI ON ( C.CODIGO_CLIENTE = CLI.CODIGO_CLIENTE ) 
		INNER JOIN CC.SERVICIO SERV ON ( C.CODIGO_SERVICIO = SERV.CODIGO_SERVICIO ) 
		INNER JOIN CC.MONEDA MON ON ( C.CODIGO_MONEDA = MON.CODIGO_MONEDA ) 
	WHERE (C.NUMERO_CONTRATO=@NumeroContrato OR RTRIM(@NumeroContrato)='') AND 
		  (C.DESCRIPCION LIKE '%'+@Descripcion+'%' OR RTRIM(@Descripcion)='') AND
		  (C.CODIGO_SERVICIO=@CodigoServicio OR @CodigoServicio=0)
GO


CREATE PROCEDURE [CC].[USP_CONTRATO_X_CODIGO]
@CodigoContrato int
AS 
   SELECT C.*, CLI.RAZON_SOCIAL, CLI.RUC, CLI.TIPO_CLIENTE, CLI.DIRECCION, CLI.TELEFONO, CLI.CORREO, CLI.FAX, 
		   CLI.CONTACTO, CLI.ESTADO, CLI.FECHA_INGRESO, 
		   SERV.DESCRIPCION AS DESCRIPCION_SERVICIO, MON.NOMBRE AS NOMBRE_MONEDA 
   FROM CC.CONTRATO C INNER JOIN CR.CLIENTE CLI ON ( C.CODIGO_CLIENTE = CLI.CODIGO_CLIENTE ) 
		INNER JOIN CC.SERVICIO SERV ON ( C.CODIGO_SERVICIO = SERV.CODIGO_SERVICIO ) 
		INNER JOIN CC.MONEDA MON ON ( C.CODIGO_MONEDA = MON.CODIGO_MONEDA ) 
	WHERE C.CODIGO_CONTRATO=@CodigoContrato
GO

CREATE PROCEDURE [CC].[USP_CONTRATO_UPD_ESTADO]
@CodigoContrato int,
@MotivoTermino varchar(200),
@Estado char(1)
AS
	UPDATE CC.CONTRATO SET ESTADO=@Estado, MOTIVO_TERMINO=@MotivoTermino, FECHA_TERMINO= GETDATE() WHERE CODIGO_CONTRATO=@CodigoContrato
GO



/*FIN ESTADO CONTRATO/ADDENDA*************************************/


	CREATE PROCEDURE  [CC].[USP_CONTRATO_DET]
	(
	@NroContrato Varchar(10)
	)
	AS
	BEGIN
	SELECT A.NUMERO_CONTRATO,A.DESCRIPCION,B.RAZON_SOCIAL,B.RUC,B.TELEFONO,
		B.CONTACTO,A.FECHA_INICIO,A.FECHA_FIN,(SELECT COUNT(CODIGO_ADDENDA) FROM
		[CC].[ADDENDA] AD WHERE AD.CODIGO_CONTRATO=A.CODIGO_CONTRATO) NRO_ADDENDAS
	FROM [CC].[CONTRATO] A
		INNER JOIN CR.CLIENTE B ON A.CODIGO_CLIENTE=B.CODIGO_CLIENTE
		WHERE A.NUMERO_CONTRATO=@NroContrato
	END
