USE [TMD]
GO
/****** Object:  StoredProcedure [IC].[PRIORIDAD_UDPATE]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[PRIORIDAD_UDPATE]
(
	@P_ESTADO CHAR(1),
	@P_CODIGO INT
)
AS
UPDATE IC.CATALOGO_PRIORIDADES
SET ESTADO=@P_ESTADO
WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[PRIORIDAD_LIST]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script para el comando SelectTopNRows de SSMS  ******/
CREATE PROC [IC].[PRIORIDAD_LIST]
AS
SELECT  [CODIGO]
      ,[DESCRIPCION]
      ,[ESTADO]
      ,NOMBRE
  FROM [TMD].[IC].[CATALOGO_PRIORIDADES]
GO
/****** Object:  StoredProcedure [GEN].[ROLES_INS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [GEN].[ROLES_INS]
(
	@P_NOMBRE AS VARCHAR(30)
)
AS
insert into GEN.ROL values (@P_NOMBRE)
SELECT SCOPE_IDENTITY()
GO
/****** Object:  StoredProcedure [GEN].[ROLES_LIST]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [GEN].[ROLES_LIST]
AS
SELECT CODIGO_ROL,DESCRIPCION FROM GEN.ROL
GO
/****** Object:  StoredProcedure [GEN].[ROLES_MODIFICAR]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [GEN].[ROLES_MODIFICAR]
(
	@P_CODIGO INT,
	@P_NOMBRE VARCHAR(30)
)
AS
UPDATE GEN.ROL
SET DESCRIPCION=@P_NOMBRE
WHERE CODIGO_ROL=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[CATALOGO_METRICA_MODIFICAR_ESTADO]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[CATALOGO_METRICA_MODIFICAR_ESTADO]
(
	@P_CODIGO INT,
	@P_ESTADO CHAR(1)
)
AS
UPDATE IC.CATALOGO_METRICAS
SET ESTADO=@P_ESTADO
WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[CATALOGO_METRICA_MODIFICAR]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[CATALOGO_METRICA_MODIFICAR]
(
	@P_CODIGO INT,
	@P_NOMBRE VARCHAR(30),
	@P_OBJETIVO VARCHAR(30)
)
AS
UPDATE IC.CATALOGO_METRICAS
SET DESCRIPCION=@P_NOMBRE,OBJETIVO=@P_OBJETIVO
WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[CATALOGO_METRICA_LIST]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[CATALOGO_METRICA_LIST]
AS
SELECT CODIGO,DESCRIPCION,
OBJETIVO,ESTADO 
FROM IC.CATALOGO_METRICAS
GO
/****** Object:  StoredProcedure [IC].[CATALOGO_METRICA_INS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[CATALOGO_METRICA_INS]
(
	@P_NOMBRE VARCHAR(30),
	@P_OBJETIVO VARCHAR(30)
)
AS
INSERT INTO IC.CATALOGO_METRICAS([DESCRIPCION],[OBJETIVO],ESTADO,VERSION)
VALUES(@P_NOMBRE,@P_OBJETIVO,'P',1)
SELECT SCOPE_IDENTITY()
GO
/****** Object:  StoredProcedure [IC].[CATALOGO_METRICA_DETALLE_INS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[CATALOGO_METRICA_DETALLE_INS]
(
	@P_CODIGO INT,
	@P_CRITERIO INT
)
AS
INSERT INTO [IC].[DETALLE_CATALOGO_METRICA]([CODIGO_METRICA],[CODIGO_CRITERIO])
VALUES(@P_CODIGO,@P_CRITERIO)
GO
/****** Object:  StoredProcedure [IC].[CATALOGO_METRICA_DETALLE_ELIMINAR]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[CATALOGO_METRICA_DETALLE_ELIMINAR]
(
	@P_CODIGO INT
)
AS
DELETE FROM [IC].[DETALLE_CATALOGO_METRICA]
WHERE CODIGO_METRICA=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[CATALOGO_METODO_INSPECCION_LIST]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script para el comando SelectTopNRows de SSMS  ******/
CREATE PROC [IC].[CATALOGO_METODO_INSPECCION_LIST]
AS
SELECT TOP 1000 [CODIGO]
      ,[DESCRIPCION]
      ,[ESTADO]
      ,RESUMEN_OPERACION
  FROM [TMD].[IC].[CATALOGO_METODO_INSPECCION]
GO
/****** Object:  StoredProcedure [IC].[CATALAGO_PRIORIDAD_INS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[CATALAGO_PRIORIDAD_INS]
(
	@P_NOMBRE AS VARCHAR(50),
	@P_DESCRIPCION AS VARCHAR(50)
)
AS
INSERT INTO [TMD].[IC].[CATALOGO_PRIORIDADES]
           (
           [NOMBRE]
           ,[DESCRIPCION],[ESTADO],[VERSION],[INDICADOR_ACT])
     VALUES(
           @P_NOMBRE,
           @P_DESCRIPCION,
           'P',1,'1')
GO
/****** Object:  StoredProcedure [IC].[CATALOGO_LIST]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [IC].[CATALOGO_LIST]
AS
SELECT CODIGO,
NOMBRE,DESCRIPCION,
ESTADO,[VERSION], 
CONVERT(VARCHAR(15),
FECHA_CREACION,105) AS 'FECHA_CREACION',
USUARIO_CREACION,PRIORIDAD
 from ic.CATALOGO_CHECKLIST
 ORDER BY ESTADO
GO
/****** Object:  StoredProcedure [IC].[METODO_UPDATE_CAMPOS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[METODO_UPDATE_CAMPOS]
(
	@P_CODIGO INT,
	@P_NOMBRE VARCHAR(50),
	@P_DESCRIPCIOn VARCHAR(50)
)
AS
UPDATE [IC].[CATALOGO_METODO_INSPECCION]
SET RESUMEN_OPERACION=@P_NOMBRE,DESCRIPCION=@P_DESCRIPCION
WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[METODO_UPDATE]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[METODO_UPDATE]
(
	@P_CODIGO INT,
	@P_ESTADO CHAR(1)
)
AS
UPDATE [IC].[CATALOGO_METODO_INSPECCION]
SET ESTADO=@P_ESTADO
WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[METODO_LIST]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script para el comando SelectTopNRows de SSMS  ******/
CREATE PROC [IC].[METODO_LIST]
AS
SELECT  [CODIGO]
      ,[DESCRIPCION]
      ,[ESTADO]
      ,RESUMEN_OPERACION
  FROM [TMD].[IC].[CATALOGO_METODO_INSPECCION]
GO
/****** Object:  StoredProcedure [IC].[METODO_INS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[METODO_INS]
(
	@P_NOMBRE VARCHAR(50),
	@P_RESUMEN_OPERACION VARCHAR(255)
)
AS
INSERT INTO IC.CATALOGO_METODO_INSPECCION(RESUMEN_OPERACION,DESCRIPCION,[VERSION],ESTADO)
VALUES(@P_NOMBRE,@P_RESUMEN_OPERACION,1,'P')

select * from IC.CATALOGO_METODO_INSPECCION
GO
/****** Object:  StoredProcedure [IC].[ESTANDAR_LIS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [IC].[ESTANDAR_LIS]
(
	@P_ESTADO CHAR(1)
)
AS
select CODIGO,
NOMBRE,DESCRIPCION,ARCHIVO,
ESTADO,[VERSION], CONVERT(VARCHAR(15),FECHA_CREACION,105) AS 'FECHA_CREACION',USUARIO_CREACION
 from ic.ESTANDARES_PROGRAMACION_DISENO
 WHERE ESTADO=@P_ESTADO OR '0'=@P_ESTADO
 ORDER BY ESTADO
GO
/****** Object:  StoredProcedure [IC].[ESTANDAR_INS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [IC].[ESTANDAR_INS] (
                    @P_CODIGO varchar(10),
                    @P_NOMBRE varchar(50),
                    @P_DESCRIPCION varchar(255),
                    @P_ARCHIVO varchar(255),
                    @P_USRCREA varchar(10),
                    @P_VERSION INT
                    )

as

UPDATE [TMD].[IC].[ESTANDARES_PROGRAMACION_DISENO]
SET [ESTADO]='O'

INSERT INTO [TMD].[IC].[ESTANDARES_PROGRAMACION_DISENO]
           ([NOMBRE]
           ,[DESCRIPCION]
           ,[ARCHIVO]
           ,[ESTADO]
           ,[USUARIO_CREACION]
           ,[FECHA_CREACION]
           ,[VERSION]
           )
     VALUES
           (@P_NOMBRE
           ,@P_DESCRIPCION
           ,@P_ARCHIVO
           ,'A'
           ,@P_USRCREA
           ,GETDATE(), @P_VERSION);
GO
/****** Object:  StoredProcedure [IC].[CATALPRIO_UPD]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [IC].[CATALPRIO_UPD]
(
@P_CODIGO int,
@P_NOMBRE varchar(50),
@P_DESCRIPCION varchar(255)
)
 as

UPDATE [TMD].[IC].[CATALOGO_PRIORIDADES]
   SET [NOMBRE] = @P_NOMBRE
      ,[DESCRIPCION] = @P_DESCRIPCION
      ,[VERSION] = ([VERSION]+1)
      ,[FECHA_MODIFICACION] = GETDATE()
 WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[CATALPRIO_LIS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [IC].[CATALPRIO_LIS]
as

SELECT [CODIGO]
      ,[NOMBRE]
      ,[DESCRIPCION]
      ,[PRIORIDAD]
      ,[USUARIO_APROBACION]
      ,[VERSION]
      ,[MOTIVO_CREACION]
      ,[MOTIVO_MODIFICACION]
      ,[MOTIVO_ELIMINACION]
      ,[ESTADO]
      ,[INDICADOR_ACT]
      ,[RESPONSABLE_DOCUMENTACION]
      ,CONVERT(VARCHAR(10),[FECHA_APROBACION],105) AS "FECHA_APROBACION"
      ,[USUARIO_CREACION]
      ,CONVERT(VARCHAR(10),[FECHA_CREACION]  ,105) AS "FECHA_CREACION"
      ,[USUARIO_MODIFICACION]
      ,CONVERT(VARCHAR(10),[FECHA_MODIFICACION],105) AS "FECHA_MODIFICACION"
  FROM [TMD].[IC].[CATALOGO_PRIORIDADES]
  where [ESTADO] <> 'D'
GO
/****** Object:  StoredProcedure [IC].[CATALPRIO_INS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [IC].[CATALPRIO_INS]
(
@P_NOMBRE varchar(50),
@P_DESCRIPCION varchar(255),
@P_VALOR varchar(10),
@P_MOTIVO varchar(255),
@P_USRCREA varchar(10)
)

 as
          
INSERT INTO [TMD].[IC].[CATALOGO_PRIORIDADES]
           ([NOMBRE]
           ,[DESCRIPCION]
           ,[PRIORIDAD]
           ,[VERSION]
           ,[MOTIVO_CREACION]
           ,[ESTADO]
           ,[RESPONSABLE_DOCUMENTACION]
           ,[USUARIO_CREACION]
           ,[FECHA_CREACION])
     VALUES
           (@P_NOMBRE
           ,@P_DESCRIPCION
           ,@P_VALOR
           ,'1'
           ,@P_MOTIVO
           ,'P'
           ,'1'
           ,@P_USRCREA
           ,GETDATE())
GO
/****** Object:  StoredProcedure [IC].[CATALPRIO_DEL]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [IC].[CATALPRIO_DEL]
(
@P_CODIGO int,
@P_MOTIVO varchar(255),
@P_USRMODI varchar(10)
)
 as

UPDATE [TMD].[IC].[CATALOGO_PRIORIDADES]
   SET [VERSION] = ([VERSION]+1)
      , [ESTADO] = 'D'
      ,[MOTIVO_ELIMINACION] = @P_MOTIVO
      ,[USUARIO_MODIFICACION] = @P_USRMODI
      ,[FECHA_MODIFICACION] = GETDATE()
 WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[CATALPRIO_BUS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [IC].[CATALPRIO_BUS](
	@P_NOMBRE  VARCHAR(50)
)
as

SELECT [CODIGO]
      ,[NOMBRE]
      ,[DESCRIPCION]
      ,[PRIORIDAD]
      ,[USUARIO_APROBACION]
      ,[VERSION]
      ,[MOTIVO_CREACION]
      ,[MOTIVO_MODIFICACION]
      ,[MOTIVO_ELIMINACION]
      ,[ESTADO]
      ,[INDICADOR_ACT]
      ,[RESPONSABLE_DOCUMENTACION]
      ,CONVERT(VARCHAR(10),[FECHA_APROBACION],105) AS "FECHA_APROBACION"
      ,[USUARIO_CREACION]
      ,CONVERT(VARCHAR(10),[FECHA_CREACION]  ,105) AS "FECHA_CREACION"
      ,[USUARIO_MODIFICACION]
      ,CONVERT(VARCHAR(10),[FECHA_MODIFICACION],105) AS "FECHA_MODIFICACION"
  FROM [TMD].[IC].[CATALOGO_PRIORIDADES]
  where [NOMBRE] LIKE '%' + @P_NOMBRE+ '%'
GO
/****** Object:  StoredProcedure [IC].[CATALPRIO_APR]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [IC].[CATALPRIO_APR]
(
@P_CODIGO int,
@P_USRAPR varchar(10)
)
 as

UPDATE [TMD].[IC].[CATALOGO_PRIORIDADES]
      set [ESTADO] = 'A'
      ,[VERSION] = ([VERSION]+1)
      ,[USUARIO_APROBACION] = @P_USRAPR
      ,[FECHA_APROBACION] = GETDATE()
 WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[CATALOGOCHECKLIST_INS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [IC].[CATALOGOCHECKLIST_INS]
(
	@P_NOMBRE VARCHAR(50),
	@P_DESCRIPCION VARCHAR(255),
	@P_VERSION VARCHAR(10),
	@P_PRIORIDAD VARCHAR(10)
)
AS
BEGIN
INSERT INTO [TMD].[IC].[CATALOGO_CHECKLIST]
           (
           [NOMBRE]
           ,[DESCRIPCION]
           ,[VERSION]
           ,[PRIORIDAD]
           ,[USUARIO_CREACION]
           ,[FECHA_CREACION],[ESTADO])
     VALUES
           (
           @P_NOMBRE
           ,@P_DESCRIPCION
           ,@P_VERSION
           ,@P_PRIORIDAD
           ,USER_NAME()
           ,GETDATE(),'P')
SELECT SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [IC].[CATALOGOCHECKLIST_ELIMINAR]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [IC].[CATALOGOCHECKLIST_ELIMINAR]
(
	@P_CODIGO VARCHAR(10),
	@P_MOTIVO_ELIMINACION VARCHAR(50)
)
AS
UPDATE [TMD].[IC].[CATALOGO_CHECKLIST] SET
ESTADO='0', MOTIVO_ELIMINACION=@P_MOTIVO_ELIMINACION
WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[CATALOGOCHECKLIST_APROBAR]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [IC].[CATALOGOCHECKLIST_APROBAR]
(
	@P_CODIGO VARCHAR(10)
)
AS
UPDATE [TMD].[IC].[CATALOGO_CHECKLIST] SET
ESTADO='A'
WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [dbo].[CATALOGO_UPDATE]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CATALOGO_UPDATE]
(
	@P_CODIGO INT,
	@P_NOMBRE VARCHAR(50),
	@P_DESCRIPCION VARCHAR(50),
	@P_VERSION INT,
	@P_PRIORIDAD VARCHAR(50)
)
AS
UPDATE IC.CATALOGO_CHECKLIST
SET NOMBRE=@P_NOMBRE,DESCRIPCION=@P_DESCRIPCION,VERSION=@P_VERSION,PRIORIDAD=@P_PRIORIDAD
WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[CATALOGO_ROLES_MODIFICAR_ESTADO]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[CATALOGO_ROLES_MODIFICAR_ESTADO]
(
	@P_CODIGO INT,
	@P_ESTADO CHAR(1)
)
AS
UPDATE IC.CATALOGO_ROLES
SET ESTADO=@P_ESTADO
WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[CATALOGO_ROLES_MODIFICAR]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[CATALOGO_ROLES_MODIFICAR]
(
	@P_CODIGO INT,
	@P_NOMBRE VARCHAR(30)
)
AS
UPDATE IC.CATALOGO_ROLES
SET DESCRIPCION=@P_NOMBRE
WHERE CODIGO=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[CRITERIO_LIST]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [IC].[CRITERIO_LIST]
AS
select CODIGO,DESCRIPCION from ic.CRITERIO
GO
/****** Object:  StoredProcedure [IC].[DETALLE_CATALOGO_LIST_METRICA]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[DETALLE_CATALOGO_LIST_METRICA]
(
	@P_METRICA INT
)
AS
select B.CODIGO,B.DESCRIPCION from IC.DETALLE_CATALOGO_METRICA A
INNER JOIN IC.CRITERIO B ON A.CODIGO_CRITERIO=B.CODIGO
WHERE A.CODIGO_METRICA=@P_METRICA
GO
/****** Object:  StoredProcedure [IC].[ROLES_LIST]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[ROLES_LIST]
AS
SELECT CODIGO,NOMBRE,DESCRIPCION,ESTADO FROM IC.CATALOGO_ROLES
GO
/****** Object:  StoredProcedure [IC].[ROLES_INS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[ROLES_INS]
(
	@P_NOMBRE AS VARCHAR(30),
	@P_DESCRIPCION AS VARCHAR(30)
)
AS
insert into IC.CATALOGO_ROLES(NOMBRE,DESCRIPCION,ESTADO,VERSION) values 
(@P_NOMBRE,@P_DESCRIPCION,'P',1)
GO
/****** Object:  StoredProcedure [GEN].[ROL_USUARIO_INSERTAR]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [GEN].[ROL_USUARIO_INSERTAR]
(
	@P_CODIGOROL INT,
	@P_COIDGOUSU VARCHAR(8)
)
AS
INSERT INTO GEN.ROLES_USUARIOS([CODIGO_ROL],[CODIGO_USUARIO])
VALUES (@P_CODIGOROL,@P_COIDGOUSU)
GO
/****** Object:  StoredProcedure [GEN].[ROL_USUARIO_ELIMINAR]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [GEN].[ROL_USUARIO_ELIMINAR]
(
	@P_CODIGO INT
)
AS 
DELETE FROM GEN.ROLES_USUARIOS
WHERE CODIGO_ROL=@P_CODIGO
GO
/****** Object:  StoredProcedure [GEN].[USUARIO_ROLES]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [GEN].[USUARIO_ROLES]
(
	@P_ROL INT
)
AS
select C.CODIGO_USUARIO,D.NOMBRE_PERSONA from GEN.ROL A
INNER JOIN GEN.ROLES_USUARIOS B ON A.CODIGO_ROL=b.CODIGO_ROL
INNER JOIN GEN.USUARIO C ON b.CODIGO_USUARIO=c.CODIGO_USUARIO
INNER JOIN GEN.PERSONA D ON d.CODIGO_PERSONA=c.CODIGO_PERSONA
WHERE a.CODIGO_ROL=@P_ROL
GO
/****** Object:  StoredProcedure [GEN].[USUARIO_LIST]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [GEN].[USUARIO_LIST]
AS
SELECT  a.CODIGO_USUARIO,b.NOMBRE_PERSONA FROM GEN.USUARIO A
INNER JOIN GEN.PERSONA B ON A.CODIGO_PERSONA=B.CODIGO_PERSONA
GO
/****** Object:  StoredProcedure [IC].[DETALLE_LIST]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[DETALLE_LIST] 
(
	@P_CODIGO INT
)
AS
SELECT A.CODIGO_CHECKLIST CODIGO,
C.DESCRIPCION CHECKLIST,A.PRIORIDAD,
C.CODIGO AS CRITERIO,
A.OBLIGATORIO_CUMPLIR FROM  ic.DETALLE_CATALOGO_CHECKLIST A
INNER JOIN IC.CATALOGO_CHECKLIST B ON A.CODIGO_CHECKLIST=B.CODIGO
INNER JOIN IC.CRITERIO C ON A.CODIGO_CRITERIO=c.CODIGO
WHERE A.CODIGO_CHECKLIST=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[DETALLE_ELIMINAR]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[DETALLE_ELIMINAR]
(
	@P_CODIGO INT
)
AS
DELETE FROM [IC].[DETALLE_CATALOGO_CHECKLIST]
WHERE CODIGO_CHECKLIST=@P_CODIGO
GO
/****** Object:  StoredProcedure [IC].[DETALLE_CATALOGO_CHECKLIST_INS]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [IC].[DETALLE_CATALOGO_CHECKLIST_INS]
(
	@P_CODIGO_CHECKLIST INT,
    @P_CODIGO_CRITERIO INT,
    @P_PRIORIDAD VARCHAR(10)
)
AS


INSERT INTO [TMD].[IC].[DETALLE_CATALOGO_CHECKLIST]
           ([CODIGO_CHECKLIST]
           ,[CODIGO_DETALLE_CHECKLIST]
           ,[DESCRIPCION]
           ,[CODIGO_CRITERIO]
           ,[PRIORIDAD]
           ,[USUARIO_CREACION]
           ,[FECHA_CREACION])
     VALUES
           (
			@P_CODIGO_CHECKLIST,
			@P_CODIGO_CRITERIO,
           (SELECT DESCRIPCION FROM IC.CRITERIO WHERE CODIGO=@P_CODIGO_CRITERIO),
           @P_CODIGO_CRITERIO,
           @P_PRIORIDAD,
           USER_NAME(),
           GETDATE())
GO
/****** Object:  StoredProcedure [dbo].[CATALOGO_DETALLE_ELIMINAR]    Script Date: 01/24/2013 19:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CATALOGO_DETALLE_ELIMINAR]
(
	@P_CODIGO INT
)
AS
DELETE FROM [TMD].[IC].[DETALLE_CATALOGO_CHECKLIST] WHERE CODIGO_CHECKLIST=@P_CODIGO
GO
