USE [TMD]
GO
/****** Object:  StoredProcedure [dbo].[sp_Obtener_Lista_de_Marketing]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Obtener_Lista_de_Marketing]

AS

SELECT [NOMBRE]
      ,[CODIGO_LM]
  FROM [TMD].[CR].[LISTA_DE_MARKETING]
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Lista_de_Marketing]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insertar_Lista_de_Marketing]
@NOMBRE VARCHAR(100),
@CODIGO_LM int OUTPUT
AS

BEGIN
DECLARE @CANTIDAD INT
SELECT @CANTIDAD = COUNT(*) FROM CR.LISTA_DE_MARKETING WHERE NOMBRE = @NOMBRE

IF @CANTIDAD = 0
BEGIN
SELECT @CODIGO_LM = ISNULL(MAX(CODIGO_LM),0)+1 FROM CR.LISTA_DE_MARKETING

INSERT INTO 
	CR.LISTA_DE_MARKETING
	(
	CODIGO_LM, 
	NOMBRE
	)
VALUES
	(
	@CODIGO_LM,
	@NOMBRE
	)
END
ELSE
	SELECT @CODIGO_LM = CODIGO_LM FROM CR.LISTA_DE_MARKETING WHERE NOMBRE = @NOMBRE	
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultar_Oventa]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Consultar_Oventa]
@RAZON_SOCIAL VARCHAR(100),
@RUC VARCHAR(11)
AS

BEGIN

SELECT	CODIGO_OVENTA,
		NOMBRE,
		DNI,
		  CASE TIPO 
			WHEN 'C' THEN 'CONTACTO' 
			WHEN 'P' THEN 'PROSPECTO'
			WHEN 'L' THEN 'CLIENTE POTENCIAL'
		  END AS TIPO,
		RAZON_SOCIAL,
		RUC,
		CATEGORIA,
		RUBRO,
		CARGO,
		TELEFONO,
		EMAIL,
		INTERESES,
		OBSERVACIONES,
		DIRECCION,
		ESTADO_OFERTA
	FROM 
		CR.OVENTA
   WHERE 
		RAZON_SOCIAL like '%' + @RAZON_SOCIAL + '%' OR
		RUC = @RUC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Busca_Oventa]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Busca_Oventa]
@CODIGO_OVENTA VARCHAR(11)
AS
  SELECT
	    CODIGO_OVENTA,
		NOMBRE,
		DNI,
		TIPO,
/*		  CASE TIPO 
			WHEN 'C' THEN 'CONTACTO' 
			WHEN 'P' THEN 'PROSPECTO'
			WHEN 'L' THEN 'CLIENTE POTENCIAL'
		  END AS TIPO,*/
		RAZON_SOCIAL,
		RUC,
		CATEGORIA,
		RUBRO,
		CARGO,
		TELEFONO,
		EMAIL,
		INTERESES,
		OBSERVACIONES,
		DIRECCION,
		ESTADO_OFERTA
    FROM 
	    CR.OVENTA
   WHERE 
	    CODIGO_OVENTA = @CODIGO_OVENTA
GO
/****** Object:  StoredProcedure [dbo].[sp_Busca_Contacto]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Busca_Contacto]
@RUC VARCHAR(11)
AS
SELECT
	  RUC
  FROM 
	  CR.OVENTA
 WHERE 
	  RUC = @RUC AND
	  TIPO = 'C'
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualiza_Oventa]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Actualiza_Oventa]
@CODIGO_OVENTA VARCHAR(10),
@NOMBRE VARCHAR(100),
@DNI VARCHAR(8),
@TIPO VARCHAR(1),
@RAZON_SOCIAL VARCHAR(100),
@RUC VARCHAR(11),
@RUBRO VARCHAR(60),
@CARGO VARCHAR(60),
@TELEFONO VARCHAR(20),
@EMAIL VARCHAR(80),
@INTERESES VARCHAR(100),
@OBSERVACIONES VARCHAR(255),
@DIRECCION VARCHAR(255),
@ESTADO_OFERTA VARCHAR(1)

AS
UPDATE CR.OVENTA
   SET
	NOMBRE = @NOMBRE,
	DNI = @DNI,
	TIPO = @TIPO,
	RAZON_SOCIAL = @RAZON_SOCIAL,
	RUC = @RUC,
	RUBRO = @RUBRO,
	CARGO = @CARGO,
	TELEFONO = @TELEFONO,
	EMAIL = @EMAIL,
	INTERESES = @INTERESES,
	OBSERVACIONES = @OBSERVACIONES,
	DIRECCION = @DIRECCION,
	ESTADO_OFERTA = @ESTADO_OFERTA
WHERE
	 CODIGO_OVENTA = @CODIGO_OVENTA;
GO
/****** Object:  StoredProcedure [dbo].[sp_Busca_Campana_Captacion]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Busca_Campana_Captacion]
@CODIGO_CAMPANA_CAPTACION int
AS
SELECT     
	CODIGO_CAMPANA_CAPTACION, 
	NOMBRE, 
	CONVERT(varchar, Fecha_Inicio, 103) AS FECHA_INICIO, 
	CONVERT(varchar, Fecha_Fin, 103) AS FECHA_FIN, 
	CONVERT(varchar, Fecha_Creacion, 103) AS FECHA_CREACION, 
	PRESUPUESTO_PLANIFICADO, 
	PRESUPUESTO_REAL, 
	CASE ESTADO 
		WHEN 'C' THEN 'CREADA' 
		WHEN 'A' THEN 'ACTIVA'
		WHEN 'E' THEN 'CERRADA'
		WHEN 'U' THEN 'AUTORIZADA'
		WHEN 'R' THEN 'RECHAZADA'
	END AS ESTADO, 
	OBJETIVOS, 
	OBSERVACIONES,
	CODIGO_LM
FROM   
	CR.CAMPANA_CAPTACION
where 
	 CODIGO_CAMPANA_CAPTACION=@CODIGO_CAMPANA_CAPTACION
GO
/****** Object:  StoredProcedure [dbo].[sp_Autorizar_Campana_Captacion]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Autorizar_Campana_Captacion]
@CODIGO_USUARIO_ASESOR VARCHAR(10),
@CODIGO_CAMPANA_CAPTACION INT
AS
update CR.CAMPANA_CAPTACION
set
	CODIGO_USUARIO_ASESOR = @CODIGO_USUARIO_ASESOR,
	CODIGO_USUARIO_AUTORIZA = 'USUARIO',
	FECHA_AUTORIZACION = SYSDATETIME(),
	ESTADO = 'U'
WHERE
	CODIGO_CAMPANA_CAPTACION = @CODIGO_CAMPANA_CAPTACION;
GO
/****** Object:  StoredProcedure [dbo].[sp_Actualizar_Contacto]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Actualizar_Contacto]
@NOMBRE VARCHAR(100),
@DNI VARCHAR(8),
@RAZON_SOCIAL VARCHAR(100),
@RUC VARCHAR(11),
@CATEGORIA VARCHAR(20),
@RUBRO VARCHAR(60),
@CARGO VARCHAR(60),
@TELEFONO VARCHAR(20),
@EMAIL VARCHAR(80),
@OBSERVACIONES VARCHAR(255),
@DIRECCION VARCHAR(255),
@CODIGO_LM INT
AS

BEGIN

DECLARE @CANTIDAD INT
SELECT 
	@CANTIDAD = COUNT(*) 
FROM 
	CR.OVENTA 
WHERE RUC = @RUC AND 
	  CODIGO_OVENTA IN (SELECT 
							 CODIGO_OVENTA 
						 FROM 
						     CR.OVENTA_LISTA_MARKETING 
						WHERE  
							 CODIGO_LM = @CODIGO_LM)

IF @CANTIDAD = 0
BEGIN
DECLARE @CODIGO_OVENTA INT
SELECT @CODIGO_OVENTA = ISNULL(MAX(CODIGO_OVENTA),0)+1 FROM CR.OVENTA

INSERT INTO CR.OVENTA 
	(
	CODIGO_OVENTA,
	NOMBRE,
	DNI,
	RAZON_SOCIAL,
	RUC,
	CATEGORIA,
	RUBRO,
	CARGO,
	TELEFONO,
	EMAIL,
	INTERESES,
	OBSERVACIONES,
	DIRECCION,
	TIPO
	)
	VALUES
	(
	@CODIGO_OVENTA,
	@NOMBRE,
	@DNI,
	@RAZON_SOCIAL,
	@RUC,
	@CATEGORIA,
	@RUBRO,
	@CARGO,
	@TELEFONO,
	@EMAIL,
	'',
	@OBSERVACIONES,
	@DIRECCION,
	'C'
	)
	
INSERT INTO CR.OVENTA_LISTA_MARKETING
	(
	CODIGO_OVENTA,
	CODIGO_LM
	)
VALUES
	(
	@CODIGO_OVENTA,
	@CODIGO_LM
	)

END 

ELSE
UPDATE CR.OVENTA
   SET
	NOMBRE = @NOMBRE,
	DNI = @DNI,
	RAZON_SOCIAL = @RAZON_SOCIAL,
	CATEGORIA = @CATEGORIA,
	RUBRO = @RUBRO,
	CARGO = @CARGO,
	TELEFONO = @TELEFONO,
	EMAIL = @EMAIL,
	OBSERVACIONES = @OBSERVACIONES,
	DIRECCION = @DIRECCION
WHERE
	 RUC = @RUC AND 
	 CODIGO_OVENTA IN (SELECT 
							 CODIGO_OVENTA 
						 FROM 
						     CR.OVENTA_LISTA_MARKETING 
						WHERE  
							 CODIGO_LM = @CODIGO_LM)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultar_Lista_de_Marketing]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Consultar_Lista_de_Marketing]
@CODIGO_LM int
AS

SELECT     
	  L.NOMBRE AS [Lista de Marketing], 
	  O.NOMBRE AS Contacto, 
	  O.DNI, 
      O.RAZON_SOCIAL AS [Razón Social], 
      O.RUC, 
      O.DIRECCION AS Dirección, 
      O.TIPO, 
      O.RUBRO, 
      O.CARGO, 
      O.TELEFONO AS Teléfono, 
      O.EMAIL, 
      O.OBSERVACIONES
FROM         CR.LISTA_DE_MARKETING L INNER JOIN CR.OVENTA_LISTA_MARKETING OLM ON L.CODIGO_LM = OLM.CODIGO_LM 
									  INNER JOIN CR.OVENTA O ON OLM.CODIGO_OVENTA = O.CODIGO_OVENTA                      
where O.TIPO = 'C' AND L.CODIGO_LM =@CODIGO_LM
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultar_Contactos_por_Campana]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Consultar_Contactos_por_Campana]
@CODIGO_CAMPANA_CAPTACION int
AS

SELECT  
       O.CODIGO_OVENTA,     
       O.NOMBRE,
       O.DNI,
       O.RAZON_SOCIAL,
       O.RUC,
       O.RUBRO,
       O.CARGO,
       O.TELEFONO,
       O.EMAIL,
       O.OBSERVACIONES,
       LM.NOMBRE,
       O.DIRECCION,
       OVL.CODIGO_LM,
       C.CODIGO_CAMPANA_CAPTACION
FROM   
       CR.OVENTA O INNER JOIN CR.OVENTA_LISTA_MARKETING OVL ON O.CODIGO_OVENTA = OVL.CODIGO_OVENTA
				   INNER JOIN CR.LISTA_DE_MARKETING LM ON OVL.CODIGO_LM = LM.CODIGO_LM
				   INNER JOIN CR.CAMPANA_CAPTACION C ON C.CODIGO_LM = LM.CODIGO_LM
WHERE 
	   C.CODIGO_CAMPANA_CAPTACION = @CODIGO_CAMPANA_CAPTACION
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultar_Campana_Captacion_Estado]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Consultar_Campana_Captacion_Estado]
@ESTADO VARCHAR(1)
AS

BEGIN
SELECT  
	  CODIGO_CAMPANA_CAPTACION, 
	  NOMBRE, 
	  CONVERT(varchar, Fecha_Inicio, 103) AS FECHA_INICIO, 
	  CONVERT(varchar, Fecha_Fin, 103) AS FECHA_FIN, 
	  CONVERT(varchar, Fecha_Creacion, 103) AS FECHA_CREACION, 
	  PRESUPUESTO_PLANIFICADO, 
	  PRESUPUESTO_REAL, 
	  CASE ESTADO 
		WHEN 'C' THEN 'CREADA' 
		WHEN 'A' THEN 'ACTIVA'
		WHEN 'E' THEN 'CERRADA'
		WHEN 'U' THEN 'AUTORIZADA'
		WHEN 'R' THEN 'RECHAZADA'
	  END AS ESTADO
FROM         
	  CR.CAMPANA_CAPTACION
where 
	  ESTADO = @ESTADO
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultar_Campana_Captacion]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Consultar_Campana_Captacion]
@NOMBRE Varchar(100),
@FECHA_INICIO Date,
@FECHA_FIN Date,
@ESTADO VARCHAR(1)
AS

BEGIN
SELECT  
	  CODIGO_CAMPANA_CAPTACION, 
	  NOMBRE, 
	  CONVERT(varchar, Fecha_Inicio, 103) AS FECHA_INICIO, 
	  CONVERT(varchar, Fecha_Fin, 103) AS FECHA_FIN, 
	  CONVERT(varchar, Fecha_Creacion, 103) AS FECHA_CREACION, 
	  PRESUPUESTO_PLANIFICADO, 
	  PRESUPUESTO_REAL, 
	  CASE ESTADO 
		WHEN 'C' THEN 'CREADA' 
		WHEN 'A' THEN 'ACTIVA'
		WHEN 'E' THEN 'CERRADA'
		WHEN 'U' THEN 'AUTORIZADA'
		WHEN 'R' THEN 'RECHAZADA'
	  END AS ESTADO
FROM         
	  CR.CAMPANA_CAPTACION
where 
	  
	  NOMBRE like '%' + @NOMBRE + '%' AND 
	  ESTADO like '%' + @ESTADO + '%' AND 
      (@FECHA_INICIO = '' OR FECHA_CREACION >= @FECHA_INICIO) AND
	  (@FECHA_FIN = '' OR FECHA_CREACION <= @FECHA_FIN)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Contacto]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Insertar_Contacto]
@NOMBRE VARCHAR(100),
@DNI VARCHAR(8),
@RAZON_SOCIAL VARCHAR(100),
@RUC VARCHAR(11),
@CATEGORIA VARCHAR(20),
@RUBRO VARCHAR(60),
@CARGO VARCHAR(60),
@TELEFONO VARCHAR(20),
@EMAIL VARCHAR(80),
@OBSERVACIONES VARCHAR(255),
@DIRECCION VARCHAR(255),
@TIPO VARCHAR(100),
@CODIGO_LM INT
AS
DECLARE @CODIGO_OVENTA INT
SELECT @CODIGO_OVENTA = ISNULL(MAX(CODIGO_OVENTA),0)+1 FROM CR.OVENTA
INSERT INTO CR.OVENTA
	(
	CODIGO_OVENTA,
	NOMBRE,
	DNI,
	RAZON_SOCIAL,
	RUC,
	CATEGORIA,
	RUBRO,
	CARGO,
	TELEFONO,
	EMAIL,
	OBSERVACIONES,
	DIRECCION,
	TIPO
	)
VALUES
	(
	@CODIGO_OVENTA,
	@NOMBRE,
	@DNI,
	@RAZON_SOCIAL,
	@RUC,
	@CATEGORIA,
	@RUBRO,
	@CARGO,
	@TELEFONO,
	@EMAIL,
	@OBSERVACIONES,
	@DIRECCION,
	'C'
	);

INSERT INTO CR.OVENTA_LISTA_MARKETING
	(
	CODIGO_OVENTA,
	CODIGO_LM
	)
VALUES
	(
	@CODIGO_OVENTA,
	@CODIGO_LM
	);
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Campana_Captacion]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Insertar_Campana_Captacion]
@NOMBRE VARCHAR(100),
@FECHA_INICIO DATE,
@FECHA_FIN DATE,
@PRESUPUESTO_PLANIFICADO REAL,
@OBJETIVOS VARCHAR(255),
@OBSERVACIONES VARCHAR(255),
@CODIGO_LM INT
AS
DECLARE @CODIGO_CAMPANA_CAPTACION INT
SELECT @CODIGO_CAMPANA_CAPTACION = ISNULL(MAX(CODIGO_CAMPANA_CAPTACION),0)+1 FROM CR.CAMPANA_CAPTACION

INSERT INTO CR.CAMPANA_CAPTACION
	(
	CODIGO_CAMPANA_CAPTACION,
	NOMBRE,
	FECHA_CREACION,
	FECHA_INICIO,
	FECHA_FIN,
	PRESUPUESTO_PLANIFICADO,
	PRESUPUESTO_REAL,
	OBJETIVOS,
	OBSERVACIONES,
	ESTADO,
	CODIGO_LM
	)
VALUES
	(
	@CODIGO_CAMPANA_CAPTACION,
	@NOMBRE,
	SYSDATETIME(),
	@FECHA_INICIO,
	@FECHA_FIN,
	@PRESUPUESTO_PLANIFICADO,
	0,
	@OBJETIVOS,
	@OBSERVACIONES,
	'C',
	@CODIGO_LM
	);
GO
/****** Object:  StoredProcedure [dbo].[sp_Modificar_Campana_Captacion]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Modificar_Campana_Captacion]
@NOMBRE VARCHAR(100),
@FECHA_INICIO DATE,
@FECHA_FIN DATE,
@PRESUPUESTO_PLANIFICADO REAL,
@PRESUPUESTO_REAL REAL,
@OBJETIVOS VARCHAR(255),
@OBSERVACIONES VARCHAR(255),
@CODIGO_LM INT,
@ESTADO VARCHAR(100),
@CODIGO_CAMPANA_CAPTACION INT
AS
update CR.CAMPANA_CAPTACION
set
	NOMBRE = @NOMBRE,
	FECHA_INICIO = @FECHA_INICIO,
	FECHA_FIN = @FECHA_FIN,
	PRESUPUESTO_PLANIFICADO = @PRESUPUESTO_PLANIFICADO,
	PRESUPUESTO_REAL = @PRESUPUESTO_REAL,
	OBJETIVOS = @OBJETIVOS,
	OBSERVACIONES = @OBSERVACIONES,
	ESTADO = @ESTADO,
	CODIGO_LM = @CODIGO_LM
where 
	CODIGO_CAMPANA_CAPTACION = @CODIGO_CAMPANA_CAPTACION;
GO
/****** Object:  StoredProcedure [dbo].[sp_Rechazar_Campana_Captacion]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Rechazar_Campana_Captacion]
@MOTIVO_RECHAZO VARCHAR(50),
@CODIGO_CAMPANA_CAPTACION INT
AS
UPDATE CR.CAMPANA_CAPTACION
set
	CODIGO_USUARIO_RECHAZO = 'USUARIO',
	MOTIVO_RECHAZO = @MOTIVO_RECHAZO,
	FECHA_RECHAZO = SYSDATETIME(),
	ESTADO = 'R'
WHERE
	CODIGO_CAMPANA_CAPTACION = @CODIGO_CAMPANA_CAPTACION;
GO
/****** Object:  StoredProcedure [dbo].[sp_Obtener_Lista_de_Asesores]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Obtener_Lista_de_Asesores]
AS
SELECT
	  U.CODIGO_USUARIO,
	  P.NOMBRE_PERSONA + ' ' + P.APELLIDO_PATERNO + ' ' + P.APELLIDO_PATERNO AS NOMBRE
  FROM
	  GEN.USUARIO U INNER JOIN GEN.PERSONA P ON
	  (U.CODIGO_PERSONA = P.CODIGO_PERSONA)
 WHERE
	  U.CODIGO_PERFIL_USUARIO = '0000000001'
GO
/****** Object:  StoredProcedure [dbo].[sp_Modificar_Seguimiento]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Modificar_Seguimiento]
@CANAL VARCHAR(100),
@FECHA_DE_CONTACTO DATE,
@COSTO_REAL REAL,
@ESTADO VARCHAR(255),
@OBSERVACIONES VARCHAR(255),
@CODIGO_SEGUIMIENTO INT
AS
UPDATE 
	  CR.SEGUIMIENTO
   SET
	  CANAL = @CANAL,
	  COSTO_REAL = @COSTO_REAL,
	  FECHA_DE_CONTACTO = @FECHA_DE_CONTACTO,
	  ESTADO = @ESTADO,
	  OBSERVACIONES = @OBSERVACIONES
WHERE  
	 CODIGO_SEGUIMIENTO = @CODIGO_SEGUIMIENTO
GO
/****** Object:  StoredProcedure [dbo].[sp_Modificar_Costo_Campana_Captacion]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Modificar_Costo_Campana_Captacion]
@CODIGO_CAMPANA_CAPTACION int
AS

update CR.CAMPANA_CAPTACION 
set PRESUPUESTO_REAL = (

SELECT SUM(S.COSTO_REAL)
FROM   CR.LISTA_DE_MARKETING LM INNER JOIN CR.CAMPANA_CAPTACION CC ON LM.CODIGO_LM = CC.CODIGO_LM 
								INNER JOIN CR.OVENTA_LISTA_MARKETING OLM ON LM.CODIGO_LM = OLM.CODIGO_LM 
								INNER JOIN CR.SEGUIMIENTO S ON CC.CODIGO_CAMPANA_CAPTACION = S.CODIGO_CAMPANA_CAPTACION
		 
WHERE CC.CODIGO_CAMPANA_CAPTACION = @CODIGO_CAMPANA_CAPTACION
)

where CODIGO_CAMPANA_CAPTACION = @CODIGO_CAMPANA_CAPTACION;
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Seguimiento]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insertar_Seguimiento]
@CANAL VARCHAR(100),
@FECHA_DE_CONTACTO DATE,
@COSTO REAL,
@ESTADO VARCHAR(255),
@OBSERVACIONES VARCHAR(255),
@CODIGO_OVENTA INT,
@CODIGO_LM INT,
@CODIGO_CAMPANA_CAPTACION INT
AS
DECLARE @CODIGO_SEGUIMIENTO INT
SELECT @CODIGO_SEGUIMIENTO = ISNULL(MAX(CODIGO_SEGUIMIENTO),0)+1 FROM CR.SEGUIMIENTO

INSERT INTO CR.SEGUIMIENTO
	(
	 CODIGO_SEGUIMIENTO,
	 CANAL,
	 COSTO_REAL,
	 FECHA_DE_CONTACTO,
	 ESTADO,
	 OBSERVACIONES,
	 TIPO_DE_SEGUIMIENTO,
	 CODIGO_OVENTA,
	 CODIGO_LM,
	 CODIGO_CAMPANA_CAPTACION
	 )
VALUES
	(
	 @CODIGO_SEGUIMIENTO,
	 @CANAL,
	 @COSTO,
	 @FECHA_DE_CONTACTO,
	 @ESTADO,
	 @OBSERVACIONES,
	 '',
	 @CODIGO_OVENTA,
	 @CODIGO_LM,
	 @CODIGO_CAMPANA_CAPTACION
	 )
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultar_Segumiento_por_contacto]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Consultar_Segumiento_por_contacto]
@CODIGO_LM int,
@CODIGO_CAMPANA_CAPTACION int,
@CODIGO_OVENTA int
AS

SELECT 
	  CODIGO_SEGUIMIENTO,
	  CANAL,
	  COSTO_REAL, 
	  CONVERT(varchar, FECHA_DE_CONTACTO, 103) AS FECHA_DE_CONTACTO,
	  CASE ESTADO 
		WHEN 'E' THEN 'EN PROGRESO'
		WHEN 'P' THEN 'PLANIFICADO' 
		WHEN 'F' THEN 'FINALIZADO' 
		WHEN 'C' THEN 'CANCELADO' 
	  END AS ESTADO,
	  OBSERVACIONES
FROM         
	   CR.SEGUIMIENTO
WHERE 
	 CODIGO_LM = @CODIGO_LM AND
	 CODIGO_OVENTA = @CODIGO_OVENTA AND
	 CODIGO_CAMPANA_CAPTACION = @CODIGO_CAMPANA_CAPTACION
ORDER BY FECHA_DE_CONTACTO DESC
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_segumiento]    Script Date: 01/21/2013 02:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_buscar_segumiento]
@CODIGO_SEGUIMIENTO int
AS
SELECT  
	  CODIGO_SEGUIMIENTO,
	  CANAL,
	  COSTO_REAL,
	  CONVERT(varchar, FECHA_DE_CONTACTO, 103),
	  CASE ESTADO 
		WHEN 'E' THEN 'EN PROGRESO'
		WHEN 'P' THEN 'PLANIFICADO' 
		WHEN 'F' THEN 'FINALIZADO' 
		WHEN 'C' THEN 'CANCELADO' 
	  END AS ESTADO,
	  OBSERVACIONES,
	  CODIGO_LM,
	  CODIGO_CAMPANA_CAPTACION,
	  CODIGO_OVENTA
  FROM 
	  CR.SEGUIMIENTO
  where 
	   CODIGO_SEGUIMIENTO = @CODIGO_SEGUIMIENTO
GO
