USE [TMD]
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_INS]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_INS]
@NOMBRE_FORMULARIO VARCHAR(60)
AS
BEGIN

INSERT INTO GD.FORMULARIO_EVALUACION (FECHA_CREACION,NOMBRE,FECHA_ASIGNACION,ESTADO)
VALUES (GETDATE(),@NOMBRE_FORMULARIO,GETDATE(),'Pendiente')

SELECT MAX (CODIGO_FORMULARIO_EVALUACION) FROM GD.FORMULARIO_EVALUACION

END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_UPD]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_UPD] 
@CODIGO_FORMULARIO INT, 
@NOMBRE_FORMULARIO VARCHAR(60)  
AS  
BEGIN  
  
  
UPDATE GD.FORMULARIO_EVALUACION
SET NOMBRE=@NOMBRE_FORMULARIO,
FECHA_CREACION=GETDATE(),
FECHA_ASIGNACION=GETDATE()
WHERE CODIGO_FORMULARIO_EVALUACION=@CODIGO_FORMULARIO;
  
END
GO
/****** Object:  StoredProcedure [GD].[USP_LISTADO_COMPETENCIA_INDICADOR]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_LISTADO_COMPETENCIA_INDICADOR]
  AS
  BEGIN
     SELECT CODIGO_COMPETENCIA_INDICADOR CODIGO_COMPETENCIA_INDICADOR,DESCRIPCION DESCRIPCION_COMPETENCIA  FROM GD.COMPETENCIA_INDICADOR 
     WHERE CODIGO_TIPO_CALIFICACION_EVALUACION=1
  END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_SECCION_SEL]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Eduardo Huapaya Flores>
-- Create date: <02/01/2013>
-- Description:	<Obtiene los datos de las secciones para generar el formulario
-- =============================================
CREATE PROCEDURE [GD].[USP_FORMULARIO_SECCION_SEL]
AS
BEGIN

SELECT SECC.CODIGO_SECCION, SECC.DESCRIPCION AS SECCION, SECD.CODIGO_SECCION_DETALLE,SECD.DESCRIPCION AS SECCION_DETALLE
FROM GD.SECCION SECC
JOIN GD.SECCION_DETALLE SECD ON(SECD.CODIGO_SECCION=SECC.CODIGO_SECCION)
ORDER BY SECC.CODIGO_SECCION,SECD.CODIGO_SECCION_DETALLE

END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_SECCION_INS1]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_SECCION_INS1]  
@CODIGO_FORMULARIO_EVALUACION INT,   
@CODIGO_SECCION INT,   
@CODIGO_SECCION_DETALLE INT  
AS  
BEGIN  
  
INSERT INTO GD.FORMULARIO_EVALUACION_SECCION (CODIGO_FORMULARIO_EVALUACION, CODIGO_SECCION, CODIGO_SECCION_DETALLE)  
VALUES (@CODIGO_FORMULARIO_EVALUACION, @CODIGO_SECCION, @CODIGO_SECCION_DETALLE)  

END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_CALIFICACION_SEL]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Eduardo Huapaya Flores>
-- Create date: <02/01/2013>
-- Description:	<Obtiene los datos de las competencias para generar el formulario
-- =============================================
CREATE PROCEDURE [GD].[USP_FORMULARIO_CALIFICACION_SEL]
AS
BEGIN

SELECT COMP.CODIGO_COMPETENCIA_INDICADOR, COMP.DESCRIPCION AS COMPETENCIA_INDICADOR,
COMD.CODIGO_COMPETENCIA_INDICADOR_DETALLE, COMD.DESCRIPCION AS COMPETENCIA_INDICADOR_DETALLE
FROM GD.COMPETENCIA_INDICADOR COMP
JOIN GD.COMPETENCIA_INDICADOR_DETALLE COMD ON(COMD.CODIGO_COMPETENCIA_INDICADOR=COMP.CODIGO_COMPETENCIA_INDICADOR)

END
GO
/****** Object:  StoredProcedure [GD].[USP_COMPETENCIA_INDICADOR_DETALLE_UPD]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_COMPETENCIA_INDICADOR_DETALLE_UPD]  
(  
	@CODIGO_COMPETENCIA_INDICADOR_DETALLE int,
     @CODIGO_COMPETENCIA_INDICADOR int,  
                    @CODIGO_TIPO_CALIFICACION_EVALUACION int,  
                    @DESCRIPCION varchar(50),  
                    @NIVEL_1 varchar(100),  
                    @NIVEL_2 varchar(100),  
                    @NIVEL_3 varchar(100),  
                    @NIVEL_4 varchar(100),  
                    @NIVEL_5 varchar(100)  
  
)  
AS  
BEGIN  
  

                         
                    
UPDATE GD.COMPETENCIA_INDICADOR_DETALLE SET CODIGO_COMPETENCIA_INDICADOR=@CODIGO_COMPETENCIA_INDICADOR,
CODIGO_TIPO_CALIFICACION_EVALUACION=@CODIGO_TIPO_CALIFICACION_EVALUACION,
DESCRIPCION=@DESCRIPCION,
NIVEL_1=@NIVEL_1,
NIVEL_2=@NIVEL_2,
NIVEL_3=@NIVEL_3,
NIVEL_4=@NIVEL_4,
NIVEL_5=@NIVEL_5
WHERE CODIGO_COMPETENCIA_INDICADOR_DETALLE=@CODIGO_COMPETENCIA_INDICADOR_DETALLE;
  
END
GO
/****** Object:  StoredProcedure [GD].[USP_COMPETENCIA_INDICADOR_DETALLE_SEL]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_COMPETENCIA_INDICADOR_DETALLE_SEL]  
(  
     @CODIGO_CID int
  
)  
AS  
BEGIN  
  
SELECT D.CODIGO_COMPETENCIA_INDICADOR,D.CODIGO_TIPO_CALIFICACION_EVALUACION,
D.DESCRIPCION,D.NIVEL_1,D.NIVEL_2,D.NIVEL_3,D.NIVEL_4,D.NIVEL_5
FROM GD.COMPETENCIA_INDICADOR_DETALLE D
WHERE D.CODIGO_COMPETENCIA_INDICADOR_DETALLE=@CODIGO_CID;
  
END
GO
/****** Object:  StoredProcedure [GD].[USP_COMPETENCIA_INDICADOR_DETALLE_INS]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_COMPETENCIA_INDICADOR_DETALLE_INS]
(
					@CODIGO_COMPETENCIA_INDICADOR int,
                    @CODIGO_TIPO_CALIFICACION_EVALUACION int,
                    @DESCRIPCION varchar(50),
                    @NIVEL_1 varchar(100),
                    @NIVEL_2 varchar(100),
                    @NIVEL_3 varchar(100),
                    @NIVEL_4 varchar(100),
                    @NIVEL_5 varchar(100)

)
AS
BEGIN

INSERT INTO GD.COMPETENCIA_INDICADOR_DETALLE (CODIGO_COMPETENCIA_INDICADOR,CODIGO_TIPO_CALIFICACION_EVALUACION,DESCRIPCION,NIVEL_1,NIVEL_2,NIVEL_3,NIVEL_4,NIVEL_5)
VALUES
(@CODIGO_COMPETENCIA_INDICADOR,
                    @CODIGO_TIPO_CALIFICACION_EVALUACION,
                    @DESCRIPCION,
                    @NIVEL_1,
                    @NIVEL_2,
                    @NIVEL_3,
                    @NIVEL_4,
                    @NIVEL_5)

END
GO
/****** Object:  StoredProcedure [GD].[USP_LISTADO_COMPETENCIAS]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_LISTADO_COMPETENCIAS]  
  AS  
  BEGIN  
  select cid.CODIGO_COMPETENCIA_INDICADOR_DETALLE CODIGO,
  CID.DESCRIPCION NOMBRE_COMPETENCIA,
  ci.DESCRIPCION TIPO_COMPETENCIA,
  ci.CODIGO_COMPETENCIA_INDICADOR CODIGO_COMPETENCIA
  
  from GD.COMPETENCIA_INDICADOR ci  
  inner join gd.COMPETENCIA_INDICADOR_DETALLE  cid  
   on ci.CODIGO_COMPETENCIA_INDICADOR=cid.CODIGO_COMPETENCIA_INDICADOR and ci.CODIGO_TIPO_CALIFICACION_EVALUACION=cid.CODIGO_TIPO_CALIFICACION_EVALUACION  
   ORDER BY cid.CODIGO_COMPETENCIA_INDICADOR_DETALLE  
  END
GO
/****** Object:  StoredProcedure [GD].[USP_VALIDA_EVALUACIONES]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_VALIDA_EVALUACIONES]                
(                
 @CODIGO_FORMULARIO Int,     
 @CODIGO_EMPLEADO Int,     
 @ESTADO VARCHAR(20)              
)                
AS                
BEGIN                            
SELECT COUNT(*) AS CUENTA    
from GD.FORMULARIO_EVALUACION_EMPLEADO     
WHERE CODIGO_EMPLEADO=@CODIGO_EMPLEADO     
AND CODIGO_FORMULARIO_EVALUACION=@CODIGO_FORMULARIO     
AND ESTADO=@ESTADO;     
                            
END
GO
/****** Object:  StoredProcedure [GD].[USP_COMPETENCIA_INDICADOR_DETALLE_DEL]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [GD].[USP_COMPETENCIA_INDICADOR_DETALLE_DEL]
  @CODIGO_COMP_IND_DETALLE INT
  AS
  BEGIN
    
    
    DECLARE @cont int
    SET @cont = (SELECT COUNT(1) FROM GD.COMPETENCIA_INDICADOR_DETALLE CID INNER JOIN GD.FORMULARIO_EVALUACION_CALIFICACION FEC
    ON CID.CODIGO_COMPETENCIA_INDICADOR_DETALLE =FEC.CODIGO_COMPETENCIA_INDICADOR_DETALLE  WHERE CID.CODIGO_COMPETENCIA_INDICADOR_DETALLE=@CODIGO_COMP_IND_DETALLE)
  
    IF @cont = 0
    BEGIN
       DELETE FROM GD.COMPETENCIA_INDICADOR_DETALLE WHERE CODIGO_COMPETENCIA_INDICADOR_DETALLE =@CODIGO_COMP_IND_DETALLE
       SELECT 1
    END
    ELSE
    BEGIN
       SELECT 0
    END
  
  
  END
GO
/****** Object:  StoredProcedure [GD].[USP_COMBO_COMPETENCIA_SEL]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_COMBO_COMPETENCIA_SEL]            
(            
 @CODIGO_FORMULARIO Int            
)            
AS            
BEGIN            
 SET NOCOUNT ON;            
SELECT     
ID.DESCRIPCION,    
ID.CODIGO_COMPETENCIA_INDICADOR_DETALLE,    
'NIVEL_1 - ' + NIVEL_1 AS NIVEL_1,    
'NIVEL_2 - ' + NIVEL_2 AS NIVEL_2,    
'NIVEL_3 - ' + NIVEL_3 AS NIVEL_3,    
'NIVEL_4 - ' + NIVEL_4 AS NIVEL_4,    
'NIVEL_5 - ' + NIVEL_5 AS NIVEL_5,  
I.CODIGO_COMPETENCIA_INDICADOR  
FROM GD.FORMULARIO_EVALUACION_CALIFICACION FEC,        
GD.COMPETENCIA_INDICADOR I,        
GD.COMPETENCIA_INDICADOR_DETALLE ID        
WHERE FEC.CODIGO_COMPETENCIA_INDICADOR=I.CODIGO_COMPETENCIA_INDICADOR    
AND FEC.CODIGO_COMPETENCIA_INDICADOR_DETALLE=ID.CODIGO_COMPETENCIA_INDICADOR_DETALLE       
AND I.CODIGO_COMPETENCIA_INDICADOR =ID.CODIGO_COMPETENCIA_INDICADOR        
AND FEC.CODIGO_FORMULARIO_EVALUACION=@CODIGO_FORMULARIO    
ORDER BY ID.CODIGO_COMPETENCIA_INDICADOR_DETALLE;    
                        
END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_CALIFICACION_INS]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_CALIFICACION_INS]
(
@CODIGO_FORMULARIO_EVALUACION int,
@CODIGO_TIPO_CALIFICACION_EVALUACION int,
@CODIGO_COMPETENCIA_INDICADOR int,
@CODIGO_COMPETENCIA_INDICADOR_DETALLE int
)
AS
BEGIN

INSERT INTO GD.FORMULARIO_EVALUACION_CALIFICACION 
VALUES
(@CODIGO_FORMULARIO_EVALUACION,@CODIGO_TIPO_CALIFICACION_EVALUACION,@CODIGO_COMPETENCIA_INDICADOR,@CODIGO_COMPETENCIA_INDICADOR_DETALLE)

END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EMPLEADO_SELC]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_FORMULARIO_EMPLEADO_SELC]    
(    
 @CODIGO_EMPLEADO Int    
)    
AS    
BEGIN    
 SET NOCOUNT ON;    
    
    -- Datos del formulario de evaluación    
 SELECT FORMULARIO_EVALUACION_EMPLEADO.FECHA_EVALUADO,FORMULARIO_EVALUACION.NOMBRE,FORMULARIO_EVALUACION_EMPLEADO.ESTADO,    
 (PERSONA.APELLIDO_PATERNO + SPACE(1) + PERSONA.APELLIDO_MATERNO + SPACE(1) + PERSONA.NOMBRE_PERSONA) AS EVALUADO,    
 (EMPLEADOJ.APELLIDO_PATERNO + SPACE(1) + EMPLEADOJ.APELLIDO_MATERNO + SPACE(1) + EMPLEADOJ.NOMBRE_PERSONA) AS EVALUADOR,    
 AREA.DESCRIPCION AS AREA,    
 SECCION.CODIGO_SECCION AS CODIGO_SECCION,SECCION.DESCRIPCION AS SECCION,SECCION_DETALLE.CODIGO_SECCION_DETALLE AS CODIGO_SECCION_DETALLE,SECCION_DETALLE.DESCRIPCION AS SECCION_DETALLE,    
 PROYECTO.DESCRIPCION AS PROYECTO, ROL.DESCRIPCION AS ROL,    
 FORMULARIO_EVALUACION.CODIGO_FORMULARIO_EVALUACION,FORMULARIO_EVALUACION_EMPLEADO.CODIGO_EMPLEADO    
 FROM GD.FORMULARIO_EVALUACION_EMPLEADO    
 JOIN GD.FORMULARIO_EVALUACION ON(FORMULARIO_EVALUACION.CODIGO_FORMULARIO_EVALUACION=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_FORMULARIO_EVALUACION)    
 JOIN GEN.EMPLEADO ON(EMPLEADO.CODIGO_EMPLEADO=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_EMPLEADO)    
 JOIN GEN.PERSONA ON(PERSONA.CODIGO_PERSONA=EMPLEADO.CODIGO_EMPLEADO)    
 JOIN GEN.PERSONA EMPLEADOJ ON(EMPLEADOJ.CODIGO_PERSONA=EMPLEADO.CODIGO_JEFE)    
 JOIN GEN.AREA ON(AREA.CODIGO_AREA=EMPLEADO.CODIGO_AREA)    
 JOIN GD.PROYECTO_ROL_EMPLEADO ON(PROYECTO_ROL_EMPLEADO.CODIGO_EMPLEADO=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_EMPLEADO)    
 JOIN GD.PROYECTO ON(GD.PROYECTO.CODIGO_PROYECTO=PROYECTO_ROL_EMPLEADO.CODIGO_PROYECTO)    
 JOIN GEN.ROL ON(ROL.CODIGO_ROL=PROYECTO_ROL_EMPLEADO.CODIGO_ROL)    
 JOIN GD.FORMULARIO_EVALUACION_SECCION ON    
 (FORMULARIO_EVALUACION_SECCION.CODIGO_FORMULARIO_EVALUACION=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_FORMULARIO_EVALUACION)    
 JOIN GD.SECCION ON(SECCION.CODIGO_SECCION=FORMULARIO_EVALUACION_SECCION.CODIGO_SECCION)    
 JOIN GD.SECCION_DETALLE ON    
 (SECCION_DETALLE.CODIGO_SECCION_DETALLE=FORMULARIO_EVALUACION_SECCION.CODIGO_SECCION_DETALLE AND SECCION_DETALLE.CODIGO_SECCION=FORMULARIO_EVALUACION_SECCION.CODIGO_SECCION)    
 WHERE     
 GD.FORMULARIO_EVALUACION_EMPLEADO.CODIGO_EMPLEADO=@CODIGO_EMPLEADO  
 ORDER BY SECCION_DETALLE.CODIGO_SECCION_DETALLE    
     
END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EMPLEADO_SEL]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Eduardo Huapaya Flores>
-- Create date: <02/01/2013>
-- Description:	<Obtiene los datos del formulario de evaluación para cualquier empleado>
-- =============================================
CREATE PROCEDURE [GD].[USP_FORMULARIO_EMPLEADO_SEL]
(
	@CODIGO_EMPLEADO Int
)
AS
BEGIN
	SET NOCOUNT ON;

    -- Datos del formulario de evaluación
	SELECT FORMULARIO_EVALUACION_EMPLEADO.FECHA_EVALUADO,FORMULARIO_EVALUACION.NOMBRE,FORMULARIO_EVALUACION_EMPLEADO.ESTADO,
	(PERSONA.APELLIDO_PATERNO + SPACE(1) + PERSONA.APELLIDO_MATERNO + SPACE(1) + PERSONA.NOMBRE_PERSONA) AS EVALUADO,
	(EMPLEADOJ.APELLIDO_PATERNO + SPACE(1) + EMPLEADOJ.APELLIDO_MATERNO + SPACE(1) + EMPLEADOJ.NOMBRE_PERSONA) AS EVALUADOR,
	AREA.DESCRIPCION AS AREA,
	SECCION.CODIGO_SECCION AS CODIGO_SECCION,SECCION.DESCRIPCION AS SECCION,SECCION_DETALLE.CODIGO_SECCION_DETALLE AS CODIGO_SECCION_DETALLE,SECCION_DETALLE.DESCRIPCION AS SECCION_DETALLE,
	PROYECTO.DESCRIPCION AS PROYECTO, ROL.DESCRIPCION AS ROL,
	FORMULARIO_EVALUACION.CODIGO_FORMULARIO_EVALUACION,FORMULARIO_EVALUACION_EMPLEADO.CODIGO_EMPLEADO
	FROM GD.FORMULARIO_EVALUACION_EMPLEADO
	JOIN GD.FORMULARIO_EVALUACION ON(FORMULARIO_EVALUACION.CODIGO_FORMULARIO_EVALUACION=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_FORMULARIO_EVALUACION)
	JOIN GEN.EMPLEADO ON(EMPLEADO.CODIGO_EMPLEADO=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_EMPLEADO)
	JOIN GEN.PERSONA ON(PERSONA.CODIGO_PERSONA=EMPLEADO.CODIGO_EMPLEADO)
	JOIN GEN.PERSONA EMPLEADOJ ON(EMPLEADOJ.CODIGO_PERSONA=EMPLEADO.CODIGO_JEFE)
	JOIN GEN.AREA ON(AREA.CODIGO_AREA=EMPLEADO.CODIGO_AREA)
	JOIN GD.PROYECTO_ROL_EMPLEADO ON(PROYECTO_ROL_EMPLEADO.CODIGO_EMPLEADO=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_EMPLEADO)
	JOIN GD.PROYECTO ON(GD.PROYECTO.CODIGO_PROYECTO=PROYECTO_ROL_EMPLEADO.CODIGO_PROYECTO)
	JOIN GEN.ROL ON(ROL.CODIGO_ROL=PROYECTO_ROL_EMPLEADO.CODIGO_ROL)
	JOIN GD.FORMULARIO_EVALUACION_SECCION ON
	(FORMULARIO_EVALUACION_SECCION.CODIGO_FORMULARIO_EVALUACION=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_FORMULARIO_EVALUACION)
	JOIN GD.SECCION ON(SECCION.CODIGO_SECCION=FORMULARIO_EVALUACION_SECCION.CODIGO_SECCION)
	JOIN GD.SECCION_DETALLE ON
	(SECCION_DETALLE.CODIGO_SECCION_DETALLE=FORMULARIO_EVALUACION_SECCION.CODIGO_SECCION_DETALLE AND SECCION_DETALLE.CODIGO_SECCION=FORMULARIO_EVALUACION_SECCION.CODIGO_SECCION)
	WHERE 
	GD.FORMULARIO_EVALUACION_EMPLEADO.CODIGO_EMPLEADO=@CODIGO_EMPLEADO AND
	GD.FORMULARIO_EVALUACION_EMPLEADO.ESTADO='Asignado'
	ORDER BY SECCION_DETALLE.CODIGO_SECCION_DETALLE
	
END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_DETALLE_SELC]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_FORMULARIO_DETALLE_SELC]          
(          
 @CODIGO_EMPLEADO Int,      
 @CODIGO_FORMULARIO INT        
)          
AS          
BEGIN          
 SET NOCOUNT ON;          
 SELECT     
 SECCION.CODIGO_SECCION AS CODIGO_SECCION,SECCION.DESCRIPCION AS SECCION,SECCION_DETALLE.CODIGO_SECCION_DETALLE AS CODIGO_SECCION_DETALLE  
 FROM GD.FORMULARIO_EVALUACION_EMPLEADO    
 JOIN GD.FORMULARIO_EVALUACION ON(FORMULARIO_EVALUACION.CODIGO_FORMULARIO_EVALUACION=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_FORMULARIO_EVALUACION)    
 JOIN GEN.EMPLEADO ON(EMPLEADO.CODIGO_EMPLEADO=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_EMPLEADO)    
 JOIN GEN.PERSONA ON(PERSONA.CODIGO_PERSONA=EMPLEADO.CODIGO_EMPLEADO)    
 JOIN GEN.PERSONA EMPLEADOJ ON(EMPLEADOJ.CODIGO_PERSONA=EMPLEADO.CODIGO_JEFE)    
 JOIN GEN.AREA ON(AREA.CODIGO_AREA=EMPLEADO.CODIGO_AREA)    
 JOIN GD.PROYECTO_ROL_EMPLEADO ON(PROYECTO_ROL_EMPLEADO.CODIGO_EMPLEADO=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_EMPLEADO)    
 JOIN GD.PROYECTO ON(GD.PROYECTO.CODIGO_PROYECTO=PROYECTO_ROL_EMPLEADO.CODIGO_PROYECTO)    
 JOIN GEN.ROL ON(ROL.CODIGO_ROL=PROYECTO_ROL_EMPLEADO.CODIGO_ROL)    
 JOIN GD.FORMULARIO_EVALUACION_SECCION ON    
 (FORMULARIO_EVALUACION_SECCION.CODIGO_FORMULARIO_EVALUACION=FORMULARIO_EVALUACION_EMPLEADO.CODIGO_FORMULARIO_EVALUACION)    
 JOIN GD.SECCION ON(SECCION.CODIGO_SECCION=FORMULARIO_EVALUACION_SECCION.CODIGO_SECCION)    
 JOIN GD.SECCION_DETALLE ON    
 (SECCION_DETALLE.CODIGO_SECCION_DETALLE=FORMULARIO_EVALUACION_SECCION.CODIGO_SECCION_DETALLE AND SECCION_DETALLE.CODIGO_SECCION=FORMULARIO_EVALUACION_SECCION.CODIGO_SECCION)    
 WHERE     
 GD.FORMULARIO_EVALUACION_EMPLEADO.CODIGO_EMPLEADO=@CODIGO_EMPLEADO  
 AND GD.FORMULARIO_EVALUACION_SECCION.CODIGO_SECCION_DETALLE=6  
 AND GD.FORMULARIO_EVALUACION_EMPLEADO.CODIGO_FORMULARIO_EVALUACION=@CODIGO_FORMULARIO  
 ORDER BY SECCION_DETALLE.CODIGO_SECCION_DETALLE    
   
    
END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_EVALUADO_UPD]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Eduardo Huapaya Flores>
-- Create date: <02/01/2013>
-- Description:	<Actualiza la fecha de la autoevaluación y el estado del formulario>
-- =============================================
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_EVALUADO_UPD]
	@CODIGO_FORMULARIO_EVALUACION INT,
	@CODIGO_EMPLEADO INT,
	@FECHA VARCHAR(10),
	@ESTADO VARCHAR(20)
AS
BEGIN
	SET NOCOUNT ON
	
	UPDATE GD.FORMULARIO_EVALUACION_EMPLEADO
	SET 
	FECHA_EVALUADO = CONVERT(datetime,@FECHA,103),
	ESTADO = @ESTADO --'Registrado'
	WHERE
	CODIGO_FORMULARIO_EVALUACION = @CODIGO_FORMULARIO_EVALUACION AND
	CODIGO_EMPLEADO = @CODIGO_EMPLEADO
	
END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_EVALUADOR_UPD]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Eduardo Huapaya Flores>
-- Create date: <02/01/2013>
-- Description:	<Actualiza la fecha de la evaluación y el estado del formulario>
-- =============================================
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_EVALUADOR_UPD]
	@CODIGO_FORMULARIO_EVALUACION INT,
	@CODIGO_EMPLEADO INT,
	@FECHA VARCHAR(10),
	@ESTADO VARCHAR(20)
AS
BEGIN
	SET NOCOUNT ON
	
	UPDATE GD.FORMULARIO_EVALUACION_EMPLEADO
	SET 
	FECHA_EVALUADOR = CONVERT(datetime,@FECHA,103),
	ESTADO = @ESTADO --'Evaluado'
	WHERE
	CODIGO_FORMULARIO_EVALUACION = @CODIGO_FORMULARIO_EVALUACION AND
	CODIGO_EMPLEADO = @CODIGO_EMPLEADO
	
END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_SECCION_INS]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_SECCION_INS]
@CODIGO_FORMULARIO_EVALUACION INT, 
@CODIGO_SECCION INT, 
@CODIGO_SECCION_DETALLE INT
AS
BEGIN

INSERT INTO GD.FORMULARIO_EVALUACION_SECCION (CODIGO_FORMULARIO_EVALUACION, CODIGO_SECCION, CODIGO_SECCION_DETALLE)
VALUES (@CODIGO_FORMULARIO_EVALUACION, @CODIGO_SECCION, @CODIGO_SECCION_DETALLE)

INSERT INTO GD.FORMULARIO_EVALUACION_EMPLEADO
(CODIGO_FORMULARIO_EVALUACION,CODIGO_EMPLEADO,CODIGO_EVALUADOR,FECHA_VIGENCIA,FECHA_EVALUADO,ESTADO)
VALUES (@CODIGO_FORMULARIO_EVALUACION,1,2,getdate(),getdate(),'Asignado')

INSERT INTO GD.FORMULARIO_EVALUACION_EMPLEADO
(CODIGO_FORMULARIO_EVALUACION,CODIGO_EMPLEADO,CODIGO_EVALUADOR,FECHA_VIGENCIA,FECHA_EVALUADO,ESTADO)
VALUES (@CODIGO_FORMULARIO_EVALUACION,3,2,getdate(),getdate(),'Asignado')

-- Agregar registros a FORMULARIO_EVALUACION_CALIFICACION
INSERT INTO GD.FORMULARIO_EVALUACION_CALIFICACION VALUES (1,1,1,1)
INSERT INTO GD.FORMULARIO_EVALUACION_CALIFICACION VALUES (1,1,1,2)
INSERT INTO GD.FORMULARIO_EVALUACION_CALIFICACION VALUES (1,1,2,10)
INSERT INTO GD.FORMULARIO_EVALUACION_CALIFICACION VALUES (1,1,3,12)


END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_SECCION_DEL]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_SECCION_DEL]    
@CODIGO_FORMULARIO_EVALUACION INT    
AS    
BEGIN    
   
DELETE GD.FORMULARIO_EVALUACION_SECCION  
WHERE CODIGO_FORMULARIO_EVALUACION=@CODIGO_FORMULARIO_EVALUACION;  

DELETE GD.FORMULARIO_EVALUACION_CALIFICACION
WHERE CODIGO_FORMULARIO_EVALUACION=@CODIGO_FORMULARIO_EVALUACION; 
  
END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_LISTAR]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_LISTAR]      
(      
 @CODIGO_EVALUADOR Int     
)      
AS      
BEGIN      
 SET NOCOUNT ON;      
       
SELECT E.CODIGO_EMPLEADO,  
(P.APELLIDO_PATERNO + SPACE(1) + P.APELLIDO_MATERNO + SPACE(1) + P.NOMBRE_PERSONA) AS EMPLEADO,  
R.DESCRIPCION AS ROL  
FROM GEN.EMPLEADO E,GD.PROYECTO_ROL_EMPLEADO PR,GEN.ROL R,  
GEN.PERSONA P,GD.FORMULARIO_EVALUACION_EMPLEADO FEE  
WHERE E.CODIGO_PERSONA=P.CODIGO_PERSONA AND  
PR.CODIGO_EMPLEADO=E.CODIGO_EMPLEADO AND  
PR.CODIGO_ROL=R.CODIGO_ROL  
AND FEE.CODIGO_EMPLEADO=E.CODIGO_EMPLEADO  
AND FEE.CODIGO_EVALUADOR=@CODIGO_EVALUADOR  
AND FEE.ESTADO='Registrado'  
       
END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_SECCION_INS]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Eduardo Huapaya Flores>
-- Create date: <02/01/2013>
-- Description:	<Guarda la información de la autoevaluación>
-- =============================================
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_SECCION_INS]
	@CODIGO_FORMULARIO_EVALUACION INT,
	@CODIGO_EMPLEADO INT,
	@CODIGO_SECCION INT,
	@CODIGO_SECCION_DETALLE INT,
	@VALOR_SECCION VARCHAR(200)
AS 
BEGIN 
     SET NOCOUNT ON 
     
     INSERT INTO GD.FORMULARIO_EVALUACION_EMPLEADO_SECCION
     VALUES ( 
       @CODIGO_FORMULARIO_EVALUACION,
       @CODIGO_EMPLEADO,
       @CODIGO_SECCION ,
       @CODIGO_SECCION_DETALLE,
       @VALOR_SECCION
          ) 
     
END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_EVALUADOR1_SEL]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Eduardo Huapaya Flores>
-- Create date: <02/01/2013>
-- Description:	<Obtiene las competencias del formulario de evaluación del empleado>
-- =============================================
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_EVALUADOR1_SEL]
(
	@CODIGO_EVALUADOR Int
)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
	CIN.CODIGO_COMPETENCIA_INDICADOR,CIN.DESCRIPCION AS COMPETENCIA,
	CID.CODIGO_COMPETENCIA_INDICADOR_DETALLE,CID.DESCRIPCION AS COMPETENCIA_DETALLE,
	FEEC.VALOR_CALIFICACION AS DATO_CALIFICACION
	FROM GD.FORMULARIO_EVALUACION_EMPLEADO FEE
	JOIN GD.FORMULARIO_EVALUACION_EMPLEADO_CALIFICACION FEEC ON
	(FEEC.CODIGO_FORMULARIO_EVALUACION=FEE.CODIGO_FORMULARIO_EVALUACION AND	FEEC.CODIGO_EMPLEADO=FEE.CODIGO_EMPLEADO)
	JOIN GD.COMPETENCIA_INDICADOR CIN ON
	(CIN.CODIGO_COMPETENCIA_INDICADOR=FEEC.CODIGO_COMPETENCIA_INDICADOR)
	JOIN GD.COMPETENCIA_INDICADOR_DETALLE CID ON
	(CID.CODIGO_COMPETENCIA_INDICADOR_DETALLE=FEEC.CODIGO_COMPETENCIA_INDICADOR_DETALLE AND CID.CODIGO_COMPETENCIA_INDICADOR=FEEC.CODIGO_COMPETENCIA_INDICADOR)
	WHERE 
	FEE.CODIGO_EVALUADOR=@CODIGO_EVALUADOR AND
	FEE.ESTADO='Registrado'
	ORDER BY CID.CODIGO_COMPETENCIA_INDICADOR_DETALLE
	
END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_EVALUADOR_SEL]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Eduardo Huapaya Flores>
-- Create date: <02/01/2013>
-- Description:	<Obtiene los datos del formulario de evaluación registrado por el empleado>
-- =============================================
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_EVALUADOR_SEL]
(
	@CODIGO_EVALUADOR Int
)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT FEE.FECHA_EVALUADO,FEE.ESTADO,
	(PERSONA.APELLIDO_PATERNO + SPACE(1) + PERSONA.APELLIDO_MATERNO + SPACE(1) + PERSONA.NOMBRE_PERSONA) AS EVALUADO,
	(EMPLEADOJ.APELLIDO_PATERNO + SPACE(1) + EMPLEADOJ.APELLIDO_MATERNO + SPACE(1) + EMPLEADOJ.NOMBRE_PERSONA) AS EVALUADOR,
	AREA.DESCRIPCION AS AREA,
	SECCION.CODIGO_SECCION AS CODIGO_SECCION,SECCION.DESCRIPCION AS SECCION,SECCION_DETALLE.CODIGO_SECCION_DETALLE AS CODIGO_SECCION_DETALLE,SECCION_DETALLE.DESCRIPCION AS SECCION_DETALLE,
	PROYECTO.DESCRIPCION AS PROYECTO, ROL.DESCRIPCION AS ROL,
	FEES.VALOR_SECCION AS DATO_SECCION,
	NOMBRE=(SELECT NOMBRE FROM GD.FORMULARIO_EVALUACION WHERE GD.FORMULARIO_EVALUACION.CODIGO_FORMULARIO_EVALUACION=FEE.CODIGO_FORMULARIO_EVALUACION)
	FROM GD.FORMULARIO_EVALUACION_EMPLEADO FEE
	JOIN GD.FORMULARIO_EVALUACION_EMPLEADO_SECCION FEES ON
	(FEES.CODIGO_FORMULARIO_EVALUACION=FEE.CODIGO_FORMULARIO_EVALUACION AND 
	FEES.CODIGO_EMPLEADO=FEE.CODIGO_EMPLEADO)
	JOIN GEN.EMPLEADO ON(EMPLEADO.CODIGO_EMPLEADO=FEE.CODIGO_EMPLEADO)
	JOIN GEN.PERSONA ON(PERSONA.CODIGO_PERSONA=EMPLEADO.CODIGO_EMPLEADO)
	JOIN GEN.PERSONA EMPLEADOJ ON(EMPLEADOJ.CODIGO_PERSONA=EMPLEADO.CODIGO_JEFE)
	JOIN GEN.AREA ON(AREA.CODIGO_AREA=EMPLEADO.CODIGO_AREA)
	JOIN GD.PROYECTO_ROL_EMPLEADO ON(PROYECTO_ROL_EMPLEADO.CODIGO_EMPLEADO=FEE.CODIGO_EMPLEADO)
	JOIN GD.PROYECTO ON(GD.PROYECTO.CODIGO_PROYECTO=PROYECTO_ROL_EMPLEADO.CODIGO_PROYECTO)
	JOIN GEN.ROL ON(ROL.CODIGO_ROL=PROYECTO_ROL_EMPLEADO.CODIGO_ROL)
	JOIN GD.SECCION ON(SECCION.CODIGO_SECCION=FEES.CODIGO_SECCION)
	JOIN GD.SECCION_DETALLE ON
	(SECCION_DETALLE.CODIGO_SECCION_DETALLE=FEES.CODIGO_SECCION_DETALLE AND SECCION_DETALLE.CODIGO_SECCION=FEES.CODIGO_SECCION)
	WHERE 
	FEE.CODIGO_EVALUADOR=@CODIGO_EVALUADOR AND
	FEE.ESTADO='Registrado'
	ORDER BY SECCION_DETALLE.CODIGO_SECCION_DETALLE

END
GO
/****** Object:  StoredProcedure [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_CALIFICACION_INS]    Script Date: 01/30/2013 00:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Eduardo Huapaya Flores>
-- Create date: <02/01/2013>
-- Description:	<Guarda la información de la evaluación>
-- =============================================
CREATE PROCEDURE [GD].[USP_FORMULARIO_EVALUACION_EMPLEADO_CALIFICACION_INS]
	@CODIGO_FORMULARIO_EVALUACION INT,
	@CODIGO_EMPLEADO INT,
	@CODIGO_TIPO_CALIFICACION_EVALUACION INT,
	@CODIGO_COMPETENCIA_INDICADOR INT,
	@CODIGO_COMPETENCIA_INDICADOR_DETALLE INT,
	@VALOR_CALIFICACION VARCHAR(200)
AS
BEGIN
	SET NOCOUNT ON 
     
     INSERT INTO GD.FORMULARIO_EVALUACION_EMPLEADO_CALIFICACION
     VALUES ( 
       @CODIGO_FORMULARIO_EVALUACION,
       @CODIGO_EMPLEADO,
       @CODIGO_TIPO_CALIFICACION_EVALUACION,
       @CODIGO_COMPETENCIA_INDICADOR,
       @CODIGO_COMPETENCIA_INDICADOR_DETALLE,
       @VALOR_CALIFICACION
          ) 

END
GO
